In [2]:
import pandas as pd

df_products=pd.read_csv('./data/brazilian_e-commerce/olist_products_dataset.csv')
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [3]:
df_product_category_name_translation=pd.read_csv('./data/brazilian_e-commerce/product_category_name_translation.csv')
df_product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [4]:
df_product_category_name_translation.value_counts()

product_category_name               product_category_name_english
agro_industria_e_comercio           agro_industry_and_commerce         1
instrumentos_musicais               musical_instruments                1
market_place                        market_place                       1
malas_acessorios                    luggage_accessories                1
livros_tecnicos                     books_technical                    1
                                                                      ..
construcao_ferramentas_iluminacao   construction_tools_lights          1
construcao_ferramentas_ferramentas  costruction_tools_tools            1
construcao_ferramentas_construcao   construction_tools_construction    1
consoles_games                      consoles_games                     1
utilidades_domesticas               housewares                         1
Name: count, Length: 71, dtype: int64

In [5]:
df_products_and_translation = pd.merge(df_products,df_product_category_name_translation, on  )

NameError: name 'on' is not defined