In [5]:
import pandas as pd

df_states=pd.read_csv('./data/brazilian_e-commerce/states.csv')

In [6]:
df_states.head(10)

,UF,State,Capital,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
0,AC,Acre,Rio Branco,North,164123.730,881935,5.37,22,17201.95,0.5,0.189,-8.77,-70.55
1,AL,Alagoas,Maceió,Northeast,27843.295,3337357,119.86,102,15653.51,0.5,0.205,-9.62,-36.82
2,AM,Amazonas,Manaus,North,1559168.100,4144597,2.66,62,22936.28,0.7,0.193,-3.47,-65.10
3,AP,Amapá,Macapá,North,142470.770,845731,5.94,16,19405.11,0.6,0.128,1.41,-51.77
4,BA,Bahia,Salvador,Northeast,564722.600,14873064,26.34,417,17508.67,0.6,0.177,-13.29,-41.71
5,CE,Ceará,Fortaleza,Northeast,148894.750,9132078,61.33,184,16394.99,0.5,0.184,-5.20,-39.53
6,DF,Distrito Federal,Brasília,Center-west,5760.783,3015268,523.41,1,80502.47,2.5,0.019,-15.83,-47.86
7,ES,Espírito Santo,Vitória,Southeast,46074.445,4018650,87.22,78,28222.56,0.9,0.043,-19.19,-40.34
8,GO,Goiás,Goiânia,Center-west,340125.720,7018354,20.63,246,28308.77,0.9,0.037,-15.98,-49.86
9,MA,Maranhão,São Luís,Northeast,329642.160,7075181,21.46,217,12788.75,0.4,0.263,-5.42,-45.44

In [7]:
df_states.tail(10)

,UF,State,Capital,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
17,PR,Paraná,Curitiba,South,199305.230,11433957,57.37,399,37221.00,1.2,0.030,-24.89,-51.55
18,RJ,Rio de Janeiro,Rio de Janeiro,Southeast,43750.420,17264943,394.62,92,40155.76,1.3,0.039,-22.25,-42.66
19,RN,Rio Grande do Norte,Natal,Northeast,52809.600,3506853,66.41,167,18333.19,0.6,0.130,-5.81,-36.59
20,RO,Rondônia,Porto Velho,North,237765.230,1777225,7.47,52,24092.81,0.8,0.079,-10.83,-63.34
21,RR,Roraima,Boa Vista,North,224273.830,605761,2.70,15,23158.06,0.7,0.179,1.99,-61.33
22,RS,Rio Grande do Sul,Porto Alegre,South,281707.160,11377239,40.39,497,37371.27,1.2,0.029,-30.17,-53.50
23,SC,Santa Catarina,Florianópolis,South,95730.920,7164788,74.84,295,39592.28,1.2,0.017,-27.45,-50.95
24,SE,Sergipe,Aracaju,Northeast,21926.908,2298696,104.83,75,17789.21,0.6,0.153,-10.57,-37.45
25,SP,São Paulo,São Paulo,Southeast,248219.480,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
26,TO,Tocantins,Palmas,North,277720.400,1572866,5.66,139,21998.34,0.7,0.119,-9.46,-48.26

In [8]:
df_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UF                   27 non-null     object
 1   State                27 non-null     object
 2   Capital              27 non-null     object
 3   Region               27 non-null     object
 4   Area                 27 non-null     float64
 5   Population           27 non-null     int64
 6   Demographic Density  27 non-null     float64
 7   Cities count         27 non-null     int64
 8   GDP                  27 non-null     float64
 9   GDP rate             27 non-null     float64
 10  Poverty              27 non-null     float64
 11  Latitude             27 non-null     float64
 12  Longitude            27 non-null     float64
dtypes: float64(7), int64(2), object(4)
memory usage: 2.9+ KB

In [9]:
df_states.shape

(27, 13)

In [10]:
df_states.isnull().sum()

UF                     0
State                  0
Capital                0
Region                 0
Area                   0
Population             0
Demographic Density    0
Cities count           0
GDP                    0
GDP rate               0
Poverty                0
Latitude               0
Longitude              0
dtype: int64

In [11]:
df_states.duplicated().sum()

np.int64(0)

In [12]:
df_states['UF'].nunique()

27