In [8]:
from sqlalchemy import create_engine
from sqlalchemy import text 
import pandas as pd

In [9]:
from dotenv import dotenv_values

config = dotenv_values()

pg_user = config['POSTGRES_USER']  
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [12]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

engine = create_engine(url, echo=False) 

my_schema = 'team_jjat'

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

In [27]:
prep_category_name_translation = pd.read_sql('SELECT * FROM prep_category_name_translation;', con=engine)
prep_category_name_translation.head()

,product_subcategory_name,product_subcategory_name_english,product_category
0,beleza_saude,health_beauty,beauty
1,informatica_acessorios,computers_accessories,computers_technology
2,automotivo,auto,automotive_tools
3,cama_mesa_banho,bed_bath_table,home_kitchen
4,moveis_decoracao,furniture_decor,furniture

In [29]:
prep_category_name_translation.to_csv('prep_category_name_translation.csv', index=False)

In [30]:
prep_gdp = pd.read_sql('SELECT * FROM prep_gdp;', con=engine)
prep_gdp.head()

,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,SP,São Paulo,47008.77,45919049,41746,909.121615,1023.731339,southeast
1,RJ,Rio de Janeiro,40155.76,17264943,12852,744.398635,2325.855447,southeast
2,DF,Distrito Federal,80502.47,3015268,2140,709.721325,26698.279805,center-west
3,MG,Minas Gerais,27282.75,21168791,11635,549.629877,1288.819470,southeast
4,SC,Santa Catarina,39592.28,7164788,3637,507.621440,5525.952931,south

In [31]:
prep_gdp.to_csv('prep_gdp.csv', index=False)

In [32]:
prep_order_items = pd.read_sql('SELECT * FROM prep_order_items;', con=engine)
prep_order_items.head()

,order_id,product_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,total_item_value,total_freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,199.90,18.14

In [33]:
prep_order_items.to_csv('prep_order_items.csv', index=False)

In [34]:
prep_products = pd.read_sql('SELECT * FROM prep_products;', con=engine)
prep_products.head()

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,category_clean
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,beauty
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,arts_crafts
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,fashion
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,baby_products
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,home_kitchen

In [35]:
prep_products.to_csv('prep_products.csv', index=False)

In [36]:
prep_review = pd.read_sql('SELECT * FROM prep_review;', con=engine)
prep_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,clean_review,category
0,97ca439bc427b48bc1cd7177abe71365,00010242fe8c5a6d1ba2dd792cb16214,5,,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,"perfeito, produto entregue antes do combinado.",both
1,7b07bacd811c4117b742569b04ce3580,00018f77f2f0320c557190d7a144bdd3,4,,,2017-05-13 00:00:00,2017-05-15 11:34:13,,none
2,0c5b33dea94867d1ac402749e5438e8b,000229ec398224ef6ca0657da4fc703e,5,,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31,chegou antes do prazo previsto e o produto sur...,both
3,f4028d019cb58564807486a6aaf33817,00024acbcdf0a6daa1e931b038114c75,4,,,2018-08-15 00:00:00,2018-08-15 16:39:01,,none
4,940144190dcba6351888cafa43f3a3a5,00042b26cf59d7ce69dfabb4e55b4fd9,5,,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59,gostei pois veio no prazo determinado .,delivery

In [37]:
prep_review.to_csv('prep_review.csv', index=False)

In [39]:
prep_seller = pd.read_sql('SELECT * FROM prep_seller', con=engine)
prep_seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state,won_date,business_segment_old,lead_type,has_company,has_gtin,business_type,business_segment
0,00065220becb8785e2cf78355eb9bf68,None,None,None,2018-07-10 11:34:50,handcrafted,online_medium,False,False,reseller,Home & Living
1,0015a82c2db000af6aaaf3ae2ecb0532,09080,santo andre,SP,NaT,None,None,True,True,None,None
2,001cca7ae9ae17fb1caed9dfb1094831,29156,cariacica,ES,NaT,None,None,True,True,None,None
3,001e6ad469a905060d959994f1b41e4f,24754,sao goncalo,RJ,NaT,None,None,True,True,None,None
4,002100f778ceb8431b7a1020ff7ab48f,14405,franca,SP,NaT,None,None,True,True,None,None

In [40]:
prep_seller.to_csv('prep_seller.csv', index=False)

In [41]:
prep_temperature= pd.read_sql('SELECT * FROM prep_temperature', con=engine)
prep_temperature.head()

,station_name,station_id,latitude,longitude,altitude,measure_date,max_temperature,min_temperature
0,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-01,33.0,24.2
1,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-02,26.0,21.3
2,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-03,23.9,21.3
3,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-04,25.2,20.2
4,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-05,26.1,18.5

In [42]:
prep_temperature.to_csv('prep_seller.csv', index=False)