In [2]:
import pandas as pd 

prep_customers=pd.read_csv('./data/brazilian_e-commerce/prep_customers.csv', dtype={'customer_zip_code_prefix': str})

prep_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [3]:
prep_customers.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
99436,f93bb6c70a7306d18a24f77f1889916d,ee0a41f3ec008b1459efbd99c775e6ea,99965,agua santa,agua santa,rs,rio grande do sul,porto alegre,south
99437,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,ciriaco,rs,rio grande do sul,porto alegre,south
99438,964b34423c822e9bd9831635ccc83db2,e49eafd7e69d43b8d86f6b5590fafd02,99980,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
99439,657ba09c6edfbbc09f6054f541ec1f90,3dbb390afed2043063d358900ae05d0d,99980,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
99440,f04c3f6e20a2a4318d97d7cec1d27bbf,8f846b30f8f56368cd1bf4c89efeed74,99990,muliterno,muliterno,rs,rio grande do sul,porto alegre,south

In [4]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city_old         99441 non-null  object
 4   customer_city_clean       99441 non-null  object
 5   customer_state_code       99441 non-null  object
 6   customer_state            99441 non-null  object
 7   customer_capital          99441 non-null  object
 8   customer_region           99441 non-null  object
dtypes: object(9)
memory usage: 6.8+ MB

In [5]:
prep_customers['customer_zip_code_prefix'] = (
    prep_customers['customer_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)

In [6]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city_old         99441 non-null  object
 4   customer_city_clean       99441 non-null  object
 5   customer_state_code       99441 non-null  object
 6   customer_state            99441 non-null  object
 7   customer_capital          99441 non-null  object
 8   customer_region           99441 non-null  object
dtypes: object(9)
memory usage: 6.8+ MB

In [8]:
prep_geolocation=pd.read_csv('./data/brazilian_e-commerce/prep_geolocation.csv', dtype={'geolocation_zip_code_prefix': str})

prep_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,01001,-23.550190,-46.634024,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,01002,-23.548146,-46.634979,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,01003,-23.548994,-46.635731,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,01004,-23.549799,-46.634757,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,01005,-23.549456,-46.636733,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [9]:
prep_geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
19010,99960,-27.953722,-52.025511,charrua,charrua,rs,rio grande do sul,porto alegre,south
19011,99965,-28.183372,-52.039850,agua santa,agua santa,rs,rio grande do sul,porto alegre,south
19012,99970,-28.343766,-51.874689,ciriaco,ciriaco,rs,rio grande do sul,porto alegre,south
19013,99980,-28.389129,-51.843836,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
19014,99990,-28.329595,-51.769362,muliterno,muliterno,rs,rio grande do sul,porto alegre,south

In [10]:
prep_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  object
 1   geolocation_lat              19015 non-null  float64
 2   geolocation_lng              19015 non-null  float64
 3   geolocation_city_old         19015 non-null  object
 4   geolocation_city_clean       19015 non-null  object
 5   geolocation_state_code       19015 non-null  object
 6   geolocation_state            19015 non-null  object
 7   geolocation_capital          19015 non-null  object
 8   geolocation_region           19015 non-null  object
dtypes: float64(2), object(7)
memory usage: 1.3+ MB

In [11]:
# Merge customers + geolocation on ZIP prefix
prep_customers_geolocation = pd.merge(
    prep_customers,
    prep_geolocation,  # cleaned geolocation table
    how="left",
    left_on="customer_zip_code_prefix",
    right_on="geolocation_zip_code_prefix"
)
prep_customers_geolocation.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,01003,-23.548994,-46.635731,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,01004,-23.549799,-46.634757,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,01004,-23.549799,-46.634757,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,01005,-23.549456,-46.636733,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,01005,-23.549456,-46.636733,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [12]:
prep_customers_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customer_id                  99441 non-null  object
 1   customer_unique_id           99441 non-null  object
 2   customer_zip_code_prefix     99441 non-null  object
 3   customer_city_old            99441 non-null  object
 4   customer_city_clean          99441 non-null  object
 5   customer_state_code          99441 non-null  object
 6   customer_state               99441 non-null  object
 7   customer_capital             99441 non-null  object
 8   customer_region              99441 non-null  object
 9   geolocation_zip_code_prefix  99163 non-null  object
 10  geolocation_lat              99163 non-null  float64
 11  geolocation_lng              99163 non-null  float64
 12  geolocation_city_old         99163 non-null  object
 13  geolocation_city_clean       99163 non-null  object
 14  geolocation_state_code       99163 non-null  object
 15  geolocation_state            99163 non-null  object
 16  geolocation_capital          99163 non-null  object
 17  geolocation_region           99163 non-null  object
dtypes: float64(2), object(16)
memory usage: 13.7+ MB

In [13]:
prep_customers_geolocation = prep_customers_geolocation.drop (columns = [
    'geolocation_zip_code_prefix',
    'geolocation_city_old',
    'geolocation_city_clean',
    'geolocation_state_code',
    'geolocation_state_code',
    'geolocation_state',
    'geolocation_capital',
    'geolocation_region'
    ])
prep_customers_geolocation.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_lat,geolocation_lng
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.548994,-46.635731
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733

In [ ]:
new_order = [
     'customer_id',
     'customer_unique_id',
     'customer_zip_code_prefix',
     'geolocation_lat',
     'geolocation_lng',
     'customer_city_old',
     'customer_city_clean',
     'customer_state_code',
     'customer_state',
     'customer_capital',
     'customer_region'
 ]
prep_customers_geolocation = prep_customers_geolocation[new_order]
prep_customers_geolocation.head()

In [14]:
prep_city_state_population=pd.read_csv('./data/brazilian_e-commerce/prep_city_state_population.csv')
prep_city_state_population.head()

,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
0,1100015,alta floresta doeste,23167.0,small_city,ro,rondônia,porto velho,north
1,1100023,ariquemes,106168.0,medium_city,ro,rondônia,porto velho,north
2,1100031,cabixi,5438.0,remote,ro,rondônia,porto velho,north
3,1100049,cacoal,84813.0,small_city,ro,rondônia,porto velho,north
4,1100056,cerejeiras,16444.0,remote,ro,rondônia,porto velho,north

In [15]:
prep_city_state_population.tail()

,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
5566,5222005,vianopolis,13746.0,remote,go,goiás,goiânia,center-west
5567,5222054,vicentinopolis,8611.0,remote,go,goiás,goiânia,center-west
5568,5222203,vila boa,6026.0,remote,go,goiás,goiânia,center-west
5569,5222302,vila propicio,5758.0,remote,go,goiás,goiânia,center-west
5570,5300108,brasilia,2974703.0,large_urban,df,distrito federal,brasília,center-west

In [16]:
prep_city_state_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ibge_code           5571 non-null   int64
 1   city_name_clean     5571 non-null   object
 2   city_population     5570 non-null   float64
 3   city_size_category  5571 non-null   object
 4   state_code          5571 non-null   object
 5   state               5571 non-null   object
 6   capital             5571 non-null   object
 7   region              5571 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 348.3+ KB

In [17]:
prep_customers_geolocation_population = pd.merge(
    prep_customers_geolocation,
    prep_city_state_population, 
    how="left",
    left_on=['customer_city_clean', 'customer_state_code'],
    right_on=['city_name_clean', 'state_code']
)

prep_customers_geolocation_population.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_lat,geolocation_lng,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.548994,-46.635731,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast

In [18]:
prep_customers_geolocation_population.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city_old', 'customer_city_clean', 'customer_state_code',
       'customer_state', 'customer_capital', 'customer_region',
       'geolocation_lat', 'geolocation_lng', 'ibge_code', 'city_name_clean',
       'city_population', 'city_size_category', 'state_code', 'state',
       'capital', 'region'],
      dtype='object')

In [19]:
prep_customers_geolocation_population = prep_customers_geolocation_population.drop (columns = [
    'ibge_code', 
    'city_name_clean',
    'state_code',
    'state',
    'capital',
    'region'
    ])
prep_customers_geolocation_population.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_lat,geolocation_lng,city_population,city_size_category
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.548994,-46.635731,12176866.0,large_urban
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757,12176866.0,large_urban
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549799,-46.634757,12176866.0,large_urban
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733,12176866.0,large_urban
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.549456,-46.636733,12176866.0,large_urban

In [25]:
prep_customers_geolocation_population.to_csv('mart_customers_geolocation_population.csv', index=False)

In [22]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [23]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [24]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
prep_customers_geolocation_population.to_sql(name = 'mart_customers_geolocation_population', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

441