In [72]:
import pandas as pd

prep_orders=pd.read_csv('./data/brazilian_e-commerce/prep_orders.csv')

prep_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25

In [73]:
prep_orders.tail()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
99436,392ed9afd714e3c74767d0c4d3e3f477,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,NaN,NaN,NaN,2018-10-15
99437,616fa7d4871b87832197b2a137a115d2,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,NaN,NaN,NaN,2018-10-23
99438,a2ac6dad85cf8af5b0afb510a240fe8c,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,NaN,NaN,NaN,2018-10-16
99439,b059ee4de278302d550a3035c4cdb740,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,NaN,NaN,NaN,2018-11-12
99440,10a045cdf6a5650c21e9cfeb60384c16,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,NaN,NaN,NaN,2018-10-30

In [74]:
prep_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [75]:
prep_customers=pd.read_csv('./data/brazilian_e-commerce/prep_customers.csv', dtype={'customer_zip_code_prefix': str})

prep_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [76]:
prep_customers.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
99436,f93bb6c70a7306d18a24f77f1889916d,ee0a41f3ec008b1459efbd99c775e6ea,99965,agua santa,agua santa,rs,rio grande do sul,porto alegre,south
99437,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,ciriaco,rs,rio grande do sul,porto alegre,south
99438,964b34423c822e9bd9831635ccc83db2,e49eafd7e69d43b8d86f6b5590fafd02,99980,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
99439,657ba09c6edfbbc09f6054f541ec1f90,3dbb390afed2043063d358900ae05d0d,99980,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
99440,f04c3f6e20a2a4318d97d7cec1d27bbf,8f846b30f8f56368cd1bf4c89efeed74,99990,muliterno,muliterno,rs,rio grande do sul,porto alegre,south

In [77]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city_old         99441 non-null  object
 4   customer_city_clean       99441 non-null  object
 5   customer_state_code       99441 non-null  object
 6   customer_state            99441 non-null  object
 7   customer_capital          99441 non-null  object
 8   customer_region           99441 non-null  object
dtypes: object(9)
memory usage: 6.8+ MB

In [78]:
prep_customers['customer_zip_code_prefix'] = (
    prep_customers['customer_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)

In [79]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city_old         99441 non-null  object
 4   customer_city_clean       99441 non-null  object
 5   customer_state_code       99441 non-null  object
 6   customer_state            99441 non-null  object
 7   customer_capital          99441 non-null  object
 8   customer_region           99441 non-null  object
dtypes: object(9)
memory usage: 6.8+ MB

In [80]:
prep_orders_customers = pd.merge(
    prep_orders,
    prep_customers,
    how="left",
    on="customer_id"
)
prep_orders_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,boa vista,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [81]:
prep_geolocation=pd.read_csv('./data/brazilian_e-commerce/prep_geolocation.csv', dtype={'geolocation_zip_code_prefix': str})

prep_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,01001,-23.550190,-46.634024,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,01002,-23.548146,-46.634979,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,01003,-23.548994,-46.635731,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,01004,-23.549799,-46.634757,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,01005,-23.549456,-46.636733,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [82]:
prep_geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
19010,99960,-27.953722,-52.025511,charrua,charrua,rs,rio grande do sul,porto alegre,south
19011,99965,-28.183372,-52.039850,agua santa,agua santa,rs,rio grande do sul,porto alegre,south
19012,99970,-28.343766,-51.874689,ciriaco,ciriaco,rs,rio grande do sul,porto alegre,south
19013,99980,-28.389129,-51.843836,david canabarro,david canabarro,rs,rio grande do sul,porto alegre,south
19014,99990,-28.329595,-51.769362,muliterno,muliterno,rs,rio grande do sul,porto alegre,south

In [83]:
prep_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  object
 1   geolocation_lat              19015 non-null  float64
 2   geolocation_lng              19015 non-null  float64
 3   geolocation_city_old         19015 non-null  object
 4   geolocation_city_clean       19015 non-null  object
 5   geolocation_state_code       19015 non-null  object
 6   geolocation_state            19015 non-null  object
 7   geolocation_capital          19015 non-null  object
 8   geolocation_region           19015 non-null  object
dtypes: float64(2), object(7)
memory usage: 1.3+ MB

In [84]:
# Merge customers + geolocation on ZIP prefix
prep_orders_customers_geolocation = pd.merge(
    prep_orders_customers,
    prep_geolocation,  # cleaned geolocation table
    how="left",
    left_on="customer_zip_code_prefix",
    right_on="geolocation_zip_code_prefix"
)
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,customer_region,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,...,north,69309,2.813746,-60.701007,boa vista,boa vista,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,...,south,99025,-28.264640,-52.425421,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,...,southeast,12244,-23.198979,-45.943171,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,southeast,14600,-20.585751,-47.863693,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,...,southeast,02975,-23.478131,-46.711362,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [85]:
prep_orders_customers_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  object
 10  customer_city_old              99441 non-null  object
 11  customer_city_clean            99441 non-null  object
 12  customer_state_code            99441 non-null  object
 13  customer_state                 99441 non-null  object
 14  customer_capital               99441 non-null  object
 15  customer_region                99441 non-null  object
 16  geolocation_zip_code_prefix    99163 non-null  object
 17  geolocation_lat                99163 non-null  float64
 18  geolocation_lng                99163 non-null  float64
 19  geolocation_city_old           99163 non-null  object
 20  geolocation_city_clean         99163 non-null  object
 21  geolocation_state_code         99163 non-null  object
 22  geolocation_state              99163 non-null  object
 23  geolocation_capital            99163 non-null  object
 24  geolocation_region             99163 non-null  object
dtypes: float64(2), object(23)
memory usage: 19.0+ MB

In [86]:
prep_orders_customers_geolocation = prep_orders_customers_geolocation.drop (columns = [
    'geolocation_zip_code_prefix',
    'geolocation_city_old',
    'geolocation_city_clean',
    'geolocation_state_code',
    'geolocation_state_code',
    'geolocation_state',
    'geolocation_capital',
    'geolocation_region'
    ])
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_lat,geolocation_lng
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,boa vista,rr,roraima,boa vista,north,2.813746,-60.701007
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south,-28.264640,-52.425421
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast,-23.198979,-45.943171
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast,-20.585751,-47.863693
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,-23.478131,-46.711362

In [87]:
new_order = [
     'order_id',
     'order_status',
     'order_purchase_timestamp',
     'order_approved_at',
     'order_delivered_carrier_date',
     'order_delivered_customer_date',
     'order_estimated_delivery_date',
     'customer_id',
     'customer_unique_id',
     'customer_zip_code_prefix',
     'geolocation_lat',
     'geolocation_lng',
     'customer_city_old',
     'customer_city_clean',
     'customer_state_code',
     'customer_state',
     'customer_capital',
     'customer_region'
 ]
prep_orders_customers_geolocation = prep_orders_customers_geolocation[new_order]
prep_orders_customers_geolocation.head()

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,customer_zip_code_prefix,geolocation_lat,geolocation_lng,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,2e7a8482f6fb09756ca50c10d7bfc047,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,08c5351a6aca1c1589a38f244edeee9d,b7d76e111c89f7ebf14761390f0f7d17,69309,2.813746,-60.701007,boa vista,boa vista,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,683c54fc24d40ee9f8a6fc179fd9856c,4854e9b3feff728c13ee5fc7d1547e92,99025,-28.264640,-52.425421,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,622e13439d6b5a0b486c435618b2679e,009b0127b727ab0ba422f6d9604487c7,12244,-23.198979,-45.943171,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,86dc2ffce2dfff336de2f386a786e574,830d5b7aaa3b6f1e9ad63703bec97d23,14600,-20.585751,-47.863693,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,b106b360fe2ef8849fbbd056f777b4d5,0eb1ee9dba87f5b36b4613a65074337c,02975,-23.478131,-46.711362,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [88]:
prep_city_state_population=pd.read_csv('./data/brazilian_e-commerce/prep_city_state_population.csv')
prep_city_state_population.head()

,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
0,1100015,alta floresta doeste,23167.0,small_city,ro,rondônia,porto velho,north
1,1100023,ariquemes,106168.0,medium_city,ro,rondônia,porto velho,north
2,1100031,cabixi,5438.0,remote,ro,rondônia,porto velho,north
3,1100049,cacoal,84813.0,small_city,ro,rondônia,porto velho,north
4,1100056,cerejeiras,16444.0,remote,ro,rondônia,porto velho,north

In [89]:
prep_city_state_population.tail()

,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
5566,5222005,vianopolis,13746.0,remote,go,goiás,goiânia,center-west
5567,5222054,vicentinopolis,8611.0,remote,go,goiás,goiânia,center-west
5568,5222203,vila boa,6026.0,remote,go,goiás,goiânia,center-west
5569,5222302,vila propicio,5758.0,remote,go,goiás,goiânia,center-west
5570,5300108,brasilia,2974703.0,large_urban,df,distrito federal,brasília,center-west

In [90]:
prep_city_state_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ibge_code           5571 non-null   int64
 1   city_name_clean     5571 non-null   object
 2   city_population     5570 non-null   float64
 3   city_size_category  5571 non-null   object
 4   state_code          5571 non-null   object
 5   state               5571 non-null   object
 6   capital             5571 non-null   object
 7   region              5571 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 348.3+ KB

In [91]:
prep_orders_customers_geolocation_population = pd.merge(
    prep_orders_customers_geolocation,
    prep_city_state_population, 
    how="left",
    left_on=['customer_city_clean', 'customer_state_code'],
    right_on=['city_name_clean', 'state_code']
)

prep_orders_customers_geolocation_population.head()

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,customer_zip_code_prefix,...,customer_capital,customer_region,ibge_code,city_name_clean,city_population,city_size_category,state_code,state,capital,region
0,2e7a8482f6fb09756ca50c10d7bfc047,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,08c5351a6aca1c1589a38f244edeee9d,b7d76e111c89f7ebf14761390f0f7d17,69309,...,boa vista,north,1400100.0,boa vista,375374.0,medium_city,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,683c54fc24d40ee9f8a6fc179fd9856c,4854e9b3feff728c13ee5fc7d1547e92,99025,...,porto alegre,south,4314100.0,passo fundo,201767.0,medium_city,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,622e13439d6b5a0b486c435618b2679e,009b0127b727ab0ba422f6d9604487c7,12244,...,são paulo,southeast,3549904.0,sao jose dos campos,713943.0,large_urban,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,86dc2ffce2dfff336de2f386a786e574,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,são paulo,southeast,3549409.0,sao joaquim da barra,51447.0,small_city,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,b106b360fe2ef8849fbbd056f777b4d5,0eb1ee9dba87f5b36b4613a65074337c,02975,...,são paulo,southeast,3550308.0,sao paulo,12176866.0,large_urban,sp,são paulo,são paulo,southeast

In [92]:
prep_orders_customers_geolocation_population.columns

Index(['order_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'geolocation_lat', 'geolocation_lng', 'customer_city_old',
       'customer_city_clean', 'customer_state_code', 'customer_state',
       'customer_capital', 'customer_region', 'ibge_code', 'city_name_clean',
       'city_population', 'city_size_category', 'state_code', 'state',
       'capital', 'region'],
      dtype='object')

In [93]:
prep_orders_customers_geolocation_population = prep_orders_customers_geolocation_population.drop (columns = [
    'ibge_code', 
    'city_name_clean',
    'state_code',
    'state',
    'capital',
    'region'
    ])
prep_orders_customers_geolocation_population.head()

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_id,customer_unique_id,customer_zip_code_prefix,geolocation_lat,geolocation_lng,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,city_population,city_size_category
0,2e7a8482f6fb09756ca50c10d7bfc047,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,08c5351a6aca1c1589a38f244edeee9d,b7d76e111c89f7ebf14761390f0f7d17,69309,2.813746,-60.701007,boa vista,boa vista,rr,roraima,boa vista,north,375374.0,medium_city
1,e5fa5a7210941f7d56d0208e4e071d35,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,683c54fc24d40ee9f8a6fc179fd9856c,4854e9b3feff728c13ee5fc7d1547e92,99025,-28.264640,-52.425421,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south,201767.0,medium_city
2,809a282bbd5dbcabb6f2f724fca862ec,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,622e13439d6b5a0b486c435618b2679e,009b0127b727ab0ba422f6d9604487c7,12244,-23.198979,-45.943171,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast,713943.0,large_urban
3,bfbd0f9bdef84302105ad712db648a6c,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,86dc2ffce2dfff336de2f386a786e574,830d5b7aaa3b6f1e9ad63703bec97d23,14600,-20.585751,-47.863693,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast,51447.0,small_city
4,71303d7e93b399f5bcd537d124c0bcfa,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,b106b360fe2ef8849fbbd056f777b4d5,0eb1ee9dba87f5b36b4613a65074337c,02975,-23.478131,-46.711362,sao paulo,sao paulo,sp,são paulo,são paulo,southeast,12176866.0,large_urban

In [94]:
prep_orders_customers_geolocation_population.to_csv('prep_orders_customers_geolocation_population.csv', index=False)

In [95]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [96]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [97]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
prep_orders_customers_geolocation_population.to_sql(name = 'prep_orders_customers_geolocation_population', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

441