## Read data: customers dataset

In [1]:
import pandas as pd

df_customers=pd.read_csv('../../data/brazilian_e-commerce/olist_customers_dataset.csv')
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Data inspection

In [2]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [3]:
df_customers['customer_id'].nunique()

99441

In [4]:
df_customers['customer_unique_id'].nunique()

96096

In [5]:
df_customers['customer_zip_code_prefix'].nunique()

14994

In [6]:
df_customers['customer_zip_code_prefix'].value_counts()

customer_zip_code_prefix
22790    142
24220    124
22793    121
24230    117
22775    110
        ...
35698      1
99370      1
64808      1
60876      1
99043      1
Name: count, Length: 14994, dtype: int64

## Data cleaning

In [7]:
df_customers['customer_zip_code_prefix'].dtype

dtype('int64')

In [8]:
df_customers['customer_zip_code_prefix'] = (
    df_customers['customer_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)

In [9]:
df_customers['customer_zip_code_prefix'].dtype

dtype('O')

## Read data: orders dataset

In [2]:
df_orders=pd.read_csv('../../data/brazilian_e-commerce/olist_orders_dataset.csv')
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

## Data inspection

In [11]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [12]:
df_orders['customer_id'].nunique()

99441

## Merge data: orders + customers

In [13]:
df_orders_customers = pd.merge(
    df_orders,
    df_customers,
    how="left",
    on="customer_id"
)
df_orders_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,03149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,09195,santo andre,SP

In [19]:
df_orders_customers['customer_id'].nunique()

99441

## Read data: geolocation dataset

In [3]:
df_geolocation=pd.read_csv('../../data/brazilian_e-commerce/olist_geolocation_dataset.csv')
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

## Data inspection

In [15]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [16]:
df_geolocation['geolocation_zip_code_prefix'].nunique()

19015

In [17]:
df_geolocation['geolocation_zip_code_prefix'].value_counts()

geolocation_zip_code_prefix
24220    1146
24230    1102
38400     965
35500     907
11680     879
         ...
71750       1
71742       1
26475       1
26357       1
29826       1
Name: count, Length: 19015, dtype: int64

## Data cleaning

In [19]:
df_geolocation['geolocation_zip_code_prefix'].dtype

dtype('int64')

In [20]:
df_geolocation['geolocation_zip_code_prefix'] = (
    df_geolocation['geolocation_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)

In [21]:
df_geolocation['geolocation_zip_code_prefix'].dtype

dtype('O')

In [22]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP

In [23]:
df_geolocation['geolocation_lat'].nunique()

717363

In [24]:
df_geo_clean = (
    df_geolocation
    .groupby('geolocation_zip_code_prefix')
    .agg({
        'geolocation_lat': 'mean',
        'geolocation_lng': 'mean'
    })
    .reset_index()
)

df_geo_clean.head()

  geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
0                       01001       -23.550190       -46.634024
1                       01002       -23.548146       -46.634979
2                       01003       -23.548994       -46.635731
3                       01004       -23.549799       -46.634757
4                       01005       -23.549456       -46.636733

## Merge data: orders_customers + geolocation

In [25]:
df_orders_customers_geo = df_orders_customers.merge(
    df_geo_clean,
    how="left",
    left_on="customer_zip_code_prefix",
    right_on="geolocation_zip_code_prefix"
)
df_orders_customers_geo.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,03149,sao paulo,SP,03149,-23.576983,-46.587161
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,47813,-12.177924,-44.660711
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,75265,-16.745150,-48.514783
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,59296,-5.774190,-35.271143
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,09195,santo andre,SP,09195,-23.676370,-46.514627

## Data inspection

In [26]:
df_orders_customers_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  object
 10  customer_city                  99441 non-null  object
 11  customer_state                 99441 non-null  object
 12  geolocation_zip_code_prefix    99163 non-null  object
 13  geolocation_lat                99163 non-null  float64
 14  geolocation_lng                99163 non-null  float64
dtypes: float64(2), object(13)
memory usage: 11.4+ MB

## Data cleaning

In [27]:
df_orders_customers_geo = df_orders_customers_geo.drop(
    columns=['geolocation_zip_code_prefix']
)

In [28]:
df_orders_customers_geo.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,03149,sao paulo,SP,-23.576983,-46.587161
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,-12.177924,-44.660711
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,-16.745150,-48.514783
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,-5.774190,-35.271143
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,09195,santo andre,SP,-23.676370,-46.514627

In [29]:
import pandas as pd

date_columns = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

for col in date_columns:
    df_orders_customers_geo[col] = pd.to_datetime(
        df_orders_customers_geo[col],
        format='%Y-%m-%d %H:%M:%S',  # typical Olist format
        errors='coerce'               # invalid or missing dates become NaT
    )

In [33]:
df_orders_customers_geo.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 159
order_delivered_carrier_date     1776
order_delivered_customer_date    2951
order_estimated_delivery_date       0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
geolocation_lat                     0
geolocation_lng                     0
dtype: int64

In [34]:
missing_percent = df_orders_customers_geo.isnull().mean() * 100
missing_percent = missing_percent.sort_values(ascending=False)
print(missing_percent)

order_delivered_customer_date    2.975908
order_delivered_carrier_date     1.790991
order_approved_at                0.160342
order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_estimated_delivery_date    0.000000
customer_unique_id               0.000000
customer_zip_code_prefix         0.000000
customer_city                    0.000000
customer_state                   0.000000
geolocation_lat                  0.000000
geolocation_lng                  0.000000
dtype: float64

In [36]:
df_orders_customers_geo = df_orders_customers_geo.dropna(
    subset=['geolocation_lat', 'geolocation_lng']
)
df_orders_customers_geo.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,03149,sao paulo,SP,-23.576983,-46.587161
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,-12.177924,-44.660711
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,-16.745150,-48.514783
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,-5.774190,-35.271143
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,09195,santo andre,SP,-23.676370,-46.514627

In [37]:
# Check number of exact duplicate rows
num_duplicates = df_orders_customers_geo.duplicated().sum()
print(f"Number of fully duplicated rows: {num_duplicates}")

Number of fully duplicated rows: 0

## Read data: states dataset

In [4]:
df_states=pd.read_csv('../../data/brazilian_e-commerce/states.csv')
df_states.head()

,UF,State,Capital,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
0,AC,Acre,Rio Branco,North,164123.730,881935,5.37,22,17201.95,0.5,0.189,-8.77,-70.55
1,AL,Alagoas,Macei,Northeast,27843.295,3337357,119.86,102,15653.51,0.5,0.205,-9.62,-36.82
2,AM,Amazonas,Manaus,North,1559168.100,4144597,2.66,62,22936.28,0.7,0.193,-3.47,-65.10
3,AP,Amap,Macap,North,142470.770,845731,5.94,16,19405.11,0.6,0.128,1.41,-51.77
4,BA,Bahia,Salvador,Northeast,564722.600,14873064,26.34,417,17508.67,0.6,0.177,-13.29,-41.71

## Merge data: orders_customers_geo + states

In [40]:
# Merge customer orders with state info
df_orders_customers_geo_states = pd.merge(
    df_orders_customers_geo,
    df_states,
    how='left',
    left_on='customer_state',  # from orders/customers
    right_on='UF'              # from states table
)
df_orders_customers_geo_states.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,03149,...,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,Northeast,564722.60,14873064,26.34,417,17508.67,0.6,0.177,-13.29,-41.71
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,Center-west,340125.72,7018354,20.63,246,28308.77,0.9,0.037,-15.98,-49.86
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,...,Northeast,52809.60,3506853,66.41,167,18333.19,0.6,0.130,-5.81,-36.59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,09195,...,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79

## Data cleaning

In [41]:
# Rename for clarity
df_orders_customers_geo_states.rename(
    columns={
        'geolocation_lat': 'customer_lat',
        'geolocation_lng': 'customer_lng',
        'Latitude': 'state_lat',
        'Longitude': 'state_lng'
    },
    inplace=True
)
df_orders_customers_geo_states.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,state_lat,state_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,03149,...,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,...,Northeast,564722.60,14873064,26.34,417,17508.67,0.6,0.177,-13.29,-41.71
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,...,Center-west,340125.72,7018354,20.63,246,28308.77,0.9,0.037,-15.98,-49.86
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,...,Northeast,52809.60,3506853,66.41,167,18333.19,0.6,0.130,-5.81,-36.59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,09195,...,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79

In [42]:
# List of unnecessary columns from states table
columns_to_drop = [
    'Area',
    'Demographic Density',
    'Cities count',
    'GDP',
    'GDP rate',
    'Poverty',
    'UF'  # Keep only customer_state for clarity
]

# Drop them
df_orders_customers_geo_states.drop(columns=columns_to_drop, inplace=True)

df_orders_customers_geo_states.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng,State,Capital,Region,Population,state_lat,state_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,03149,sao paulo,SP,-23.576983,-46.587161,So Paulo,So Paulo,Southeast,45919049,-22.19,-48.79
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,-12.177924,-44.660711,Bahia,Salvador,Northeast,14873064,-13.29,-41.71
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,-16.745150,-48.514783,Gois,Goinia,Center-west,7018354,-15.98,-49.86
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,-5.774190,-35.271143,Rio Grande do Norte,Natal,Northeast,3506853,-5.81,-36.59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,09195,santo andre,SP,-23.676370,-46.514627,So Paulo,So Paulo,Southeast,45919049,-22.19,-48.79

In [43]:
# Check the result
df_orders_customers_geo_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99163 entries, 0 to 99162
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99163 non-null  object
 1   customer_id                    99163 non-null  object
 2   order_status                   99163 non-null  object
 3   order_purchase_timestamp       99163 non-null  datetime64[ns]
 4   order_approved_at              99004 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97387 non-null  datetime64[ns]
 6   order_delivered_customer_date  96212 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99163 non-null  datetime64[ns]
 8   customer_unique_id             99163 non-null  object
 9   customer_zip_code_prefix       99163 non-null  object
 10  customer_city                  99163 non-null  object
 11  customer_state                 99163 non-null  object
 12  customer_lat                   99163 non-null  float64
 13  customer_lng                   99163 non-null  float64
 14  State                          99163 non-null  object
 15  Capital                        99163 non-null  object
 16  Region                         99163 non-null  object
 17  Population                     99163 non-null  int64
 18  state_lat                      99163 non-null  float64
 19  state_lng                      99163 non-null  float64
dtypes: datetime64[ns](5), float64(4), int64(1), object(10)
memory usage: 15.1+ MB

In [44]:
# Convert all column names to lowercase
df_orders_customers_geo_states.columns = df_orders_customers_geo_states.columns.str.lower()

# Check result
print(df_orders_customers_geo_states.columns)

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'customer_lat', 'customer_lng', 'state', 'capital',
       'region', 'population', 'state_lat', 'state_lng'],
      dtype='object')

In [45]:
def classify_location(pop):
    if pd.isnull(pop):
        return 'Unknown'  # if population data is missing
    elif pop > 300_000:
        return 'Urban'
    elif 50_000 <= pop <= 300_000:
        return 'City'
    else:  # population < 50_000
        return 'Rural'

In [46]:
df_orders_customers_geo_states['location_type'] = df_orders_customers_geo_states['population'].apply(classify_location)

In [47]:
df_orders_customers_geo_states['location_type'].value_counts()

location_type
Urban    99163
Name: count, dtype: int64

In [48]:
df_orders_customers_geo_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99163 entries, 0 to 99162
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99163 non-null  object
 1   customer_id                    99163 non-null  object
 2   order_status                   99163 non-null  object
 3   order_purchase_timestamp       99163 non-null  datetime64[ns]
 4   order_approved_at              99004 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97387 non-null  datetime64[ns]
 6   order_delivered_customer_date  96212 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99163 non-null  datetime64[ns]
 8   customer_unique_id             99163 non-null  object
 9   customer_zip_code_prefix       99163 non-null  object
 10  customer_city                  99163 non-null  object
 11  customer_state                 99163 non-null  object
 12  customer_lat                   99163 non-null  float64
 13  customer_lng                   99163 non-null  float64
 14  state                          99163 non-null  object
 15  capital                        99163 non-null  object
 16  region                         99163 non-null  object
 17  population                     99163 non-null  int64
 18  state_lat                      99163 non-null  float64
 19  state_lng                      99163 non-null  float64
 20  location_type                  99163 non-null  object
dtypes: datetime64[ns](5), float64(4), int64(1), object(11)
memory usage: 15.9+ MB

## Save data

In [49]:
# Save dataframe to CSV
df_orders_customers_geo_states.to_csv(
    '../data/olist_orders_customers_geo_states.csv',  # file path
    index=False,  # do not save the index column
    encoding='utf-8'  # ensure proper encoding
)

In [50]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [51]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [52]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
df_orders_customers_geo_states.to_sql(name = 'prep_orders_customers_geo_states', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

163