## Read data: prep orders

In [2]:
import pandas as pd

prep_orders=pd.read_csv('../../data/brazilian_e-commerce/prep_orders.csv')
prep_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25

In [3]:
prep_customers=pd.read_csv('../../data/brazilian_e-commerce/prep_customers.csv', dtype={'customer_zip_code_prefix': str})
prep_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

## Merge data: prep orders + prep customers

In [12]:
prep_orders_customers = pd.merge(
    prep_orders,
    prep_customers,
    how="left",
    on="customer_id"
)
prep_orders_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,boa vista,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

## Read data: prep geolocation

In [4]:
prep_geolocation=pd.read_csv('../../data/brazilian_e-commerce/prep_geolocation.csv', dtype={'geolocation_zip_code_prefix': str})
prep_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,01001,-23.550190,-46.634024,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,01002,-23.548146,-46.634979,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,01003,-23.548994,-46.635731,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,01004,-23.549799,-46.634757,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,01005,-23.549456,-46.636733,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

## Merge data: prep orders_customers + prep geolocation

In [14]:
# Merge customers + geolocation on ZIP prefix
prep_orders_customers_geolocation = pd.merge(
    prep_orders_customers,
    prep_geolocation,  # cleaned geolocation table
    how="left",
    left_on="customer_zip_code_prefix",
    right_on="geolocation_zip_code_prefix"
)
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,customer_region,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city_old,geolocation_city_clean,geolocation_state_code,geolocation_state,geolocation_capital,geolocation_region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,...,north,69309,2.813746,-60.701007,boa vista,boa vista,rr,roraima,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,...,south,99025,-28.264640,-52.425421,passo fundo,passo fundo,rs,rio grande do sul,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,...,southeast,12244,-23.198979,-45.943171,sao jose dos campos,sao jose dos campos,sp,são paulo,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,southeast,14600,-20.585751,-47.863693,sao joaquim da barra,sao joaquim da barra,sp,são paulo,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,...,southeast,02975,-23.478131,-46.711362,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

## Data cleaning

In [16]:
prep_orders_customers_geolocation = prep_orders_customers_geolocation.drop (columns = [
    'customer_city_old', 
    'geolocation_zip_code_prefix',
    'geolocation_city_old',
    'geolocation_city_clean',
    'geolocation_state'
    ])
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region,geolocation_lat,geolocation_lng,geolocation_state_code,geolocation_capital,geolocation_region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,rr,roraima,boa vista,north,2.813746,-60.701007,rr,boa vista,north
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,rs,rio grande do sul,porto alegre,south,-28.264640,-52.425421,rs,porto alegre,south
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,sp,são paulo,são paulo,southeast,-23.198979,-45.943171,sp,são paulo,southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,sp,são paulo,são paulo,southeast,-20.585751,-47.863693,sp,são paulo,southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,sp,são paulo,são paulo,southeast,-23.478131,-46.711362,sp,são paulo,southeast

## Read data: gdp dataset

In [3]:
prep_gdp=pd.read_csv('../../data/brazilian_e-commerce/prep_gdp.csv')
prep_gdp.head()

,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,SP,São Paulo,47008.77,45919049,41746,909.121615,1023.731339,southeast
1,RJ,Rio de Janeiro,40155.76,17264943,12852,744.398635,2325.855447,southeast
2,DF,Distrito Federal,80502.47,3015268,2140,709.721325,26698.279805,center-west
3,MG,Minas Gerais,27282.75,21168791,11635,549.629877,1288.819470,southeast
4,SC,Santa Catarina,39592.28,7164788,3637,507.621440,5525.952931,south

## Merge data: orders_customers_geolocation + gdp

In [18]:
prep_orders_customers_geolocation_gdp = pd.merge(
    prep_orders_customers_geolocation,
    prep_gdp,  # cleaned geolocation table
    how="left",
    left_on="customer_state",
    right_on="state_code"
)
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,geolocation_capital,geolocation_region,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,...,boa vista,north,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,...,porto alegre,south,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,...,são paulo,southeast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,são paulo,southeast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,...,são paulo,southeast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data cleaning

In [19]:
prep_orders_customers_geolocation_gdp.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city_clean',
       'customer_state_code', 'customer_state', 'customer_capital',
       'customer_region', 'geolocation_lat', 'geolocation_lng',
       'geolocation_state_code', 'geolocation_capital', 'geolocation_region',
       'state_code', 'state_name', 'GDP', 'Population', 'total_customers',
       'customers_per_million', 'gdp_per_capita', 'region'],
      dtype='object')

In [20]:
prep_orders_customers_geolocation_gdp = prep_orders_customers_geolocation_gdp.drop (columns = [
    'state_code', 
    'total_customers',
    'customers_per_million',
    'gdp_per_capita',
    ])
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,customer_region,geolocation_lat,geolocation_lng,geolocation_state_code,geolocation_capital,geolocation_region,state_name,GDP,Population,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,...,north,2.813746,-60.701007,rr,boa vista,north,NaN,NaN,NaN,NaN
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,...,south,-28.264640,-52.425421,rs,porto alegre,south,NaN,NaN,NaN,NaN
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,...,southeast,-23.198979,-45.943171,sp,são paulo,southeast,NaN,NaN,NaN,NaN
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,southeast,-20.585751,-47.863693,sp,são paulo,southeast,NaN,NaN,NaN,NaN
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,...,southeast,-23.478131,-46.711362,sp,são paulo,southeast,NaN,NaN,NaN,NaN

In [21]:
# Convert all column names to lowercase
prep_orders_customers_geolocation_gdp.columns = prep_orders_customers_geolocation_gdp.columns.str.lower()

# Verify
print(prep_orders_customers_geolocation_gdp.columns)

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city_clean',
       'customer_state_code', 'customer_state', 'customer_capital',
       'customer_region', 'geolocation_lat', 'geolocation_lng',
       'geolocation_state_code', 'geolocation_capital', 'geolocation_region',
       'state_name', 'gdp', 'population', 'region'],
      dtype='object')

In [23]:
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_state,customer_city_clean,geolocation_lat,geolocation_lng,state_name,gdp,population,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,RR,boa vista,2.813746,-60.701007,Roraima,23158.06,605761,North
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,RS,passo fundo,-28.264640,-52.425421,Rio Grande do Sul,37371.27,11377239,South
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,SP,sao jose dos campos,-23.198979,-45.943171,São Paulo,47008.77,45919049,Southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,SP,sao joaquim da barra,-20.585751,-47.863693,São Paulo,47008.77,45919049,Southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,SP,sao paulo,-23.478131,-46.711362,São Paulo,47008.77,45919049,Southeast

## Save data

In [22]:
prep_orders_customers_geolocation_gdp.to_csv('prep_orders_customers_geolocation_gdp.csv', index=False)

In [23]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [24]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [25]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
prep_orders_customers_geolocation_gdp.to_sql(name = 'prep_orders_customers_geolocation_gdp', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

441