In [2]:
import pandas as pd

df_category_by_segment=pd.read_csv('../data/brazilian_e-commerce/category_by_segment.csv')

df_category_by_segment

,business_segment,category_clean
0,Baby,['baby_products' 'miscellaneous' 'stationary']
1,Beauty & Health,['beauty' 'fashion' 'stationary' 'home_kitchen...
2,Books & Stationery,['stationary' 'toys_games' 'books_media' 'baby...
3,Car Accessories,['automotive_tools' 'home_kitchen' 'garden_out...
4,Construction Tools,['construction_tools' 'garden_outdoor' 'comput...
5,Electronics & Technology,['cellphone_accessories' 'computers_technology...
6,Fashion & Accessories,['garden_outdoor' 'fashion' 'beauty' 'miscella...
7,Food & Drink,['food_grocery' 'furniture' 'home_kitchen' 'be...
8,Furniture,['home_kitchen' 'furniture' 'stationary' 'baby...
9,Home & Living,['home_kitchen' 'furniture' 'arts_crafts' 'mis...
10,Household Utilities,['construction_tools' 'fashion' 'baby_products...
11,Music,['beauty' 'stationary' 'construction_tools' 't...
12,Pet Supplies,['beauty' 'pet_supplies' 'garden_outdoor' 'toy...
13,Sport,['fashion' 'beauty' 'furniture' 'toys_games' '...
14,Supplements,['fashion' 'beauty' 'automotive_tools']
15,Toys,['baby_products' 'stationary' 'toys_games' 'fa...
16,Travelling,['stationary' 'fashion' 'miscellaneous' 'baby_...