In [3]:
import pandas as pd

df_product_category_name_translation=pd.read_csv('./data/brazilian_e-commerce/product_category_name_translation.csv')

In [4]:
df_product_category_name_translation

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [3]:
df_product_category_name_translation.head(10)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
5           esporte_lazer                sports_leisure
6              perfumaria                     perfumery
7   utilidades_domesticas                    housewares
8               telefonia                     telephony
9      relogios_presentes                 watches_gifts

In [4]:
df_product_category_name_translation.tail(10)

            product_category_name          product_category_name_english
61                         musica                                  music
62                casa_conforto_2                         home_comfort_2
63    portateis_casa_forno_e_cafe  small_appliances_home_oven_and_coffee
64              cds_dvds_musicais                      cds_dvds_musicals
65                   dvds_blu_ray                           dvds_blu_ray
66                         flores                                flowers
67             artes_e_artesanato                  arts_and_craftmanship
68                fraldas_higiene                    diapers_and_hygiene
69  fashion_roupa_infanto_juvenil              fashion_childrens_clothes
70             seguros_e_servicos                  security_and_services

In [5]:
df_product_category_name_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [6]:
df_product_category_name_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [7]:
df_product_category_name_translation.duplicated().sum()

np.int64(0)

In [8]:
df_product_category_name_translation['product_category_name_english'].nunique()

71