In [2]:
import pandas as pd

df_segment_by_category=pd.read_csv('./data/brazilian_e-commerce/segment_by_category.csv')

df_segment_by_category

           category_clean                                   business_segment
0             arts_crafts  ['Home & Living' 'Household Utilities' 'Car Ac...
1        automotive_tools  ['Construction Tools' 'Car Accessories' 'Elect...
2           baby_products  ['Household Utilities' 'Beauty & Health' 'Toys...
3                  beauty  ['Household Utilities' 'Sport' 'Beauty & Healt...
4             books_media  ['Books & Stationery' 'Electronics & Technolog...
5   cellphone_accessories  ['Electronics & Technology' 'Construction Tool...
6    computers_technology  ['Electronics & Technology' 'Household Utiliti...
7      construction_tools  ['Construction Tools' 'Household Utilities' 'H...
8             electronics  ['Construction Tools' 'Electronics & Technolog...
9                 fashion  ['Household Utilities' 'Sport' 'Travelling' 'F...
10           food_grocery  ['Food & Drink' 'Beauty & Health' 'Constructio...
11              furniture  ['Home & Living' 'Electronics & Technology' 'F...
12         garden_outdoor  ['Household Utilities' 'Construction Tools' 'F...
13        home_appliances  ['Electronics & Technology' 'Home & Living' 'H...
14           home_kitchen  ['Home & Living' 'Furniture' 'Household Utilit...
15          miscellaneous  ['Home & Living' 'Electronics & Technology' 'C...
16           pet_supplies  ['Home & Living' 'Pet Supplies' 'Household Uti...
17             stationary  ['Books & Stationery' 'Travelling' 'Household ...
18             toys_games  ['Household Utilities' 'Books & Stationery' 'C...