In [1]:
from sqlalchemy import create_engine
from sqlalchemy import text 
import pandas as pd

In [2]:
from dotenv import dotenv_values

config = dotenv_values()

pg_user = config['POSTGRES_USER']  
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [3]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

engine = create_engine(url, echo=False) 

my_schema = 'team_jjat'

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

In [4]:
prep_category_name_translation = pd.read_sql('SELECT * FROM prep_category_name_translation;', con=engine)
prep_category_name_translation.head()

,product_subcategory_name,product_subcategory_name_english,product_category
0,beleza_saude,health_beauty,beauty
1,informatica_acessorios,computers_accessories,computers_technology
2,automotivo,auto,automotive_tools
3,cama_mesa_banho,bed_bath_table,home_kitchen
4,moveis_decoracao,furniture_decor,furniture

In [5]:
prep_category_name_translation.to_csv('prep_category_name_translation.csv', index=False)

In [6]:
prep_gdp = pd.read_sql('SELECT * FROM prep_gdp;', con=engine)
prep_gdp.head()

,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,SP,São Paulo,47008.77,45919049,41746,909.121615,1023.731339,southeast
1,RJ,Rio de Janeiro,40155.76,17264943,12852,744.398635,2325.855447,southeast
2,DF,Distrito Federal,80502.47,3015268,2140,709.721325,26698.279805,center-west
3,MG,Minas Gerais,27282.75,21168791,11635,549.629877,1288.819470,southeast
4,SC,Santa Catarina,39592.28,7164788,3637,507.621440,5525.952931,south

In [7]:
prep_gdp.to_csv('prep_gdp.csv', index=False)

In [8]:
prep_order_items = pd.read_sql('SELECT * FROM prep_order_items;', con=engine)
prep_order_items.head()

,order_id,product_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [9]:
prep_order_items.to_csv('prep_order_items.csv', index=False)

In [10]:
prep_products = pd.read_sql('SELECT * FROM prep_products;', con=engine)
prep_products.head()

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_subcategory_name,product_subcategory_name_english,product_category
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,perfumaria,perfumery,beauty
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,artes,art,arts_crafts
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,esporte_lazer,sports_leisure,fashion
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,bebes,baby,baby_products
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,utilidades_domesticas,housewares,home_kitchen

In [11]:
prep_products.to_csv('prep_products.csv', index=False)

In [12]:
prep_review = pd.read_sql('SELECT * FROM prep_review;', con=engine)
prep_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,clean_review,category
0,97ca439bc427b48bc1cd7177abe71365,00010242fe8c5a6d1ba2dd792cb16214,5,,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,"perfeito, produto entregue antes do combinado.",both
1,7b07bacd811c4117b742569b04ce3580,00018f77f2f0320c557190d7a144bdd3,4,,,2017-05-13 00:00:00,2017-05-15 11:34:13,,none
2,0c5b33dea94867d1ac402749e5438e8b,000229ec398224ef6ca0657da4fc703e,5,,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31,chegou antes do prazo previsto e o produto sur...,both
3,f4028d019cb58564807486a6aaf33817,00024acbcdf0a6daa1e931b038114c75,4,,,2018-08-15 00:00:00,2018-08-15 16:39:01,,none
4,940144190dcba6351888cafa43f3a3a5,00042b26cf59d7ce69dfabb4e55b4fd9,5,,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59,gostei pois veio no prazo determinado .,delivery

In [13]:
prep_review.to_csv('prep_review.csv', index=False)

In [14]:
prep_seller = pd.read_sql('SELECT * FROM prep_seller', con=engine)
prep_seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state,won_date,business_segment_old,lead_type,has_company,has_gtin,business_type,business_segment,business_segment_pred,business_segment_incl_pred
0,00065220becb8785e2cf78355eb9bf68,None,None,None,2018-07-10 11:34:50,handcrafted,online_medium,False,False,reseller,Home & Living,None,Home & Living
1,0015a82c2db000af6aaaf3ae2ecb0532,09080,santo andre,SP,NaT,None,None,True,True,None,None,Electronics & Technology,Electronics & Technology
2,001cca7ae9ae17fb1caed9dfb1094831,29156,cariacica,ES,NaT,None,None,True,True,None,None,Construction Tools,Construction Tools
3,001e6ad469a905060d959994f1b41e4f,24754,sao goncalo,RJ,NaT,None,None,True,True,None,None,Sport,Sport
4,002100f778ceb8431b7a1020ff7ab48f,14405,franca,SP,NaT,None,None,True,True,None,None,Home & Living,Home & Living

In [15]:
prep_seller.to_csv('prep_seller.csv', index=False)

In [16]:
prep_temperature= pd.read_sql('SELECT * FROM prep_temperature', con=engine)
prep_temperature.head()

,station_name,station_id,latitude,longitude,altitude,measure_date,max_temperature,min_temperature
0,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-01,33.0,24.2
1,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-02,26.0,21.3
2,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-03,23.9,21.3
3,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-04,25.2,20.2
4,ALTO DA BOA VISTA,83007,-23.0,-43.3,347.1,2016-01-05,26.1,18.5

In [17]:
prep_temperature.to_csv('prep_seller.csv', index=False)

In [20]:
mart_basket_analysis= pd.read_sql('SELECT * FROM mart_basket_analysis', con=engine)
mart_basket_analysis.head()

,order_id,product_id,order_item_id,seller_id,price,freight_value,product_category,product_subcategory_name_english,customer_id,customer_unique_id,customer_region,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,58.90,13.29,miscellaneous,cool_stuff,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,southeast,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,pet_supplies,pet_shop,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,southeast,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,199.00,17.87,furniture,furniture_decor,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,southeast,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,beauty,perfumery,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,southeast,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,199.90,18.14,garden_outdoor,garden_tools,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,southeast,2017-02-04 13:57:51

In [21]:
mart_basket_analysis.to_csv('mart_basket_analysis.csv', index=False)

In [4]:
mart_customer_count_by_seller = pd.read_sql('SELECT * FROM mart_customer_count_by_seller;', con=engine)
mart_customer_count_by_seller.head()

                          seller_id  count_customers
0  6560211a19b47992c3666cc44a7e94c0             1817
1  4a3ca9315b744ce9f8e9374361493884             1790
2  cc419e0650a3c5ba77189a1882b7556a             1648
3  1f50f920176fa81dab994f9023523100             1387
4  955fee9216a65b617aa5c0531780ce60             1281

In [6]:
mart_customer_count_by_seller.to_csv('mart_customer_count_by_seller.csv', index=False)

In [7]:
mart_seller_fulfillment_scorecard = pd.read_sql('SELECT * FROM mart_seller_fulfillment_scorecard;', con=engine)
mart_seller_fulfillment_scorecard.head()

,order_id,order_status,order_purchase_timestamp,order_approved_at,shipping_limit_date,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,price,freight_value,customer_id,seller_id,product_id,business_segment_old,business_segment,business_segment_pred,business_segment_incl_pred
0,2e7a8482f6fb09756ca50c10d7bfc047,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-26 18:25:19,2016-10-18 13:14:51,NaT,2016-10-20,39.99,31.67,08c5351a6aca1c1589a38f244edeee9d,1554a68530182680ad5c8b042c3ab563,c1488892604e4ba5cff5b4eb4d595400,None,None,Home & Living,Home & Living
1,2e7a8482f6fb09756ca50c10d7bfc047,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-26 18:25:19,2016-10-18 13:14:51,NaT,2016-10-20,32.90,31.67,08c5351a6aca1c1589a38f244edeee9d,1554a68530182680ad5c8b042c3ab563,f293394c72c9b5fafd7023301fc21fc2,None,None,Home & Living,Home & Living
2,e5fa5a7210941f7d56d0208e4e071d35,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,2016-09-19 00:15:34,NaT,NaT,2016-10-28,59.50,15.56,683c54fc24d40ee9f8a6fc179fd9856c,a425f92c199eb576938df686728acd20,f3c2d01a84c947b078e32bbef0718962,None,None,Home & Living,Home & Living
3,809a282bbd5dbcabb6f2f724fca862ec,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaT,NaT,NaT,2016-09-30,NaN,NaN,622e13439d6b5a0b486c435618b2679e,None,None,None,None,None,None
4,bfbd0f9bdef84302105ad712db648a6c,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-09-19 23:11:33,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,44.99,2.83,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,5a6b04657a4c5ee34285d1e4619a96b4,None,None,Beauty & Health,Beauty & Health

In [8]:
mart_seller_fulfillment_scorecard.to_csv('mart_seller_fulfillment_scorecard.csv', index=False)

In [ ]:
mart_customer_transactions = pd.read_sql('SELECT * FROM mart_seller_fulfillment_scorecard;', con=engine)
mart_customer_transactions.head()