In [44]:
import pandas as pd

In [50]:
mart_customer_transactions=pd.read_csv('../data/brazilian_e-commerce/mart_customer_transactions.csv')

In [51]:
mart_customer_transactions

,order_id,order_date,customer_id_unique,seller_id,total_item_value,total_freight_value,total_order_value
0,00010242fe8c5a6d1ba2dd792cb16214,2017-09-13,871766c5855e863f6eccc05f988b23cb,48436dade18ac8b2bce089ec2a041202,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,2017-04-26,eb28e67c4c0b83846050ddfb8a35d051,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,2018-01-14,3818d81c6709e39d06b2738a8d3a2474,5b51032eddd242adc84c38acab88f23d,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,2018-08-08,af861d436cfc08b2c2ddefd0ba074622,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,2017-02-04,64b576fb70d441e8f1b2d7d446e483c5,df560393f3a51e74553ab94004ba5c87,199.90,18.14,218.04
...,...,...,...,...,...,...,...
99544,fffc94f6ce00a00581880bf54a75a037,2018-04-23,0c9aeda10a71f369396d0c04dce13a64,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,343.40
99545,fffcd46ef2263f404302a634eb57f7eb,2018-07-14,0da9fe112eae0c74d3ba1fe16de0988b,f3c38ab652836d21de61fb8314b69182,350.00,36.53,386.53
99546,fffce4705a9662cd70adb13d4a31832d,2017-10-23,cd79b407828f02fdbba457111c38e4c4,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,116.85
99547,fffe18544ffabc95dfada21779c9644f,2017-08-14,eb803377c9315b564bdedad672039306,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,64.71
99548,fffe41c64501cc87c801fd61db3f6244,2018-06-09,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,55.79

In [54]:
import pandas as pd

# Count unique customers per seller
customers_per_seller = (
    mart_customer_transactions
        .groupby('seller_id')['customer_id_unique']
        .nunique()
        .reset_index(name='customer_count')
)

customers_per_seller

                             seller_id  customer_count
0     0015a82c2db000af6aaaf3ae2ecb0532               3
1     001cca7ae9ae17fb1caed9dfb1094831             200
2     002100f778ceb8431b7a1020ff7ab48f              51
3     003554e2dce176b5555353e4f3555ac8               1
4     004c9cd9d87a3c30c522c48c4fc07416             157
...                                ...             ...
3051  ffc470761de7d0232558ba5e786e57b7              28
3052  ffdd9f82b9a447f6f8d4b91554cc7dd3              18
3053  ffeee66ac5d5a62fe688b9d26f83f534              14
3054  fffd5413c0700ac820c7069d66d98c89              59
3055  ffff564a4f9085cd26170f4732393726              16

[3056 rows x 2 columns]

In [57]:
customers_per_seller = customers_per_seller.sort_values(
    by='customer_count',
    ascending=False
)
customers_per_seller

                             seller_id  customer_count
1220  6560211a19b47992c3666cc44a7e94c0            1817
873   4a3ca9315b744ce9f8e9374361493884            1790
2452  cc419e0650a3c5ba77189a1882b7556a            1648
366   1f50f920176fa81dab994f9023523100            1387
1800  955fee9216a65b617aa5c0531780ce60            1281
...                                ...             ...
12    011b0eaba87386a2ae96a7d32bb531d1               1
3039  fedaedd3ca31d56ab33e92035e4b361c               1
1997  a663d9c3797e90eac99ff60939416a56               1
27    028872bfa080090a9d0abd4f1af168f8               1
1528  7d81e74a4755b552267cd5e081563028               1

[3056 rows x 2 columns]

In [58]:
# Total number of sellers
total_sellers = len(customers_per_seller)

# Number of sellers with only one customer
one_customer_sellers = (customers_per_seller['customer_count'] == 1).sum()

# Percentage
percentage_one_customer = (one_customer_sellers / total_sellers) * 100

print(f"{percentage_one_customer:.2f}% of sellers have only one customer")

18.46% of sellers have only one customer

In [63]:
orders_per_customer = (
    mart_customer_transactions
        .groupby('customer_id_unique')['order_id']
        .nunique()   # use nunique in case of duplicate order rows
        .reset_index(name='customer_order_count')
)

orders_per_customer

                     customer_id_unique  customer_order_count
0      0000366f3b9a7992bf8c76cfdf3221e2                     1
1      0000b849f77a49e4a4ce2b2a4ca5be3f                     1
2      0000f46a3911fa3c0805444483337064                     1
3      0000f6ccb0745a6a4b88665a16c9f078                     1
4      0004aac84e0df4da2b147fca70cf8255                     1
...                                 ...                   ...
94984  fffcf5a5ff07b0908bd4e2dbc735a684                     1
94985  fffea47cd6d3cc0a88bd621562a9d061                     1
94986  ffff371b4d645b6ecea244b27531430a                     1
94987  ffff5962728ec6157033ef9805bacc48                     1
94988  ffffd2657e2aad2907e67c3e9daecbeb                     1

[94989 rows x 2 columns]

In [64]:
orders_per_customer = orders_per_customer.sort_values(
    by='customer_order_count',
    ascending=False
).reset_index(drop=True)
orders_per_customer

                     customer_id_unique  customer_order_count
0      8d50f5eadf50201ccdcedfb9e2ac8455                    16
1      3e43e6105506432c953e165fb2acf44c                     9
2      ca77025e7201e3b30c44b472ff346268                     7
3      1b6c7548a2a1f9037c1fd3ddfed95f33                     7
4      6469f99c1f9dfae7733b25662e7f1782                     7
...                                 ...                   ...
94984  5650c85bcdef051d8bc16e0771747686                     1
94985  5650bf668868651d51740cd49908814e                     1
94986  56509f7bc43892a0da09ee14f50a6f84                     1
94987  564feb90710b4f84399f931fa97ea704                     1
94988  ffffd2657e2aad2907e67c3e9daecbeb                     1

[94989 rows x 2 columns]

In [65]:
# Total number of customers
total_customers = len(orders_per_customer)

# Number of customers with only one order
one_order_customers = (orders_per_customer['customer_order_count'] == 1).sum()

# Percentage
percentage_one_order = (one_order_customers / total_customers) * 100

print(f"{percentage_one_order:.2f}% of customers have only one order")

96.96% of customers have only one order

In [47]:
mart_customer_transactions['seller_id'].nunique()

3056

In [48]:
mart_customer_transactions['customer_id_unique'].nunique()

94989

In [39]:
mart_customer_transactions[
    mart_customer_transactions['order_id'] == 'ab13cb6c13063f2603a94c9ddca34f66'
]

,order_id,order_date,customer_id_unique,seller_id,total_item_value,total_freight_value,total_order_value
66286,ab13cb6c13063f2603a94c9ddca34f66,2018-01-16,dda7d094a7c887911a9f6cadf698c5b9,cf8ab1616079e2793aa29d524df01bb1,1599.0,125.04,1724.04

In [40]:
mart_customer_transactions[
    mart_customer_transactions['order_id'] == 'ab3a669dbdc7a8d447bb6fc7a158cf94'
]

,order_id,order_date,customer_id_unique,seller_id,total_item_value,total_freight_value,total_order_value
66357,ab3a669dbdc7a8d447bb6fc7a158cf94,2018-07-20,c2e971c4b49f34cd0dd4c155c1d541a5,c33847515fa6305ce6feb1e818569f13,24.9,18.27,43.17

In [7]:
mart_customer_transactions['order_id'].nunique()

98205

In [8]:
mart_customer_transactions['order_id'].unique()

array(['00010242fe8c5a6d1ba2dd792cb16214',
       '00018f77f2f0320c557190d7a144bdd3',
       '000229ec398224ef6ca0657da4fc703e', ...,
       'fffce4705a9662cd70adb13d4a31832d',
       'fffe18544ffabc95dfada21779c9644f',
       'fffe41c64501cc87c801fd61db3f6244'], shape=(98205,), dtype=object)

In [9]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [10]:
from dotenv import dotenv_values

config = dotenv_values()

pg_user = config['POSTGRES_USER']  
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [11]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

engine = create_engine(url, echo=False) 

my_schema = 'team_jjat'

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

In [14]:
prep_order_items = pd.read_sql('SELECT * FROM prep_order_items;', con=engine)

In [13]:
prep_order_items.to_csv('prep_order_items.csv', index=False)

In [15]:
prep_order_items

,order_id,product_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,count,product_category
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,miscellaneous
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,pet_supplies
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,furniture
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,beauty
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,garden_outdoor
...,...,...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,1,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,1,home_kitchen
102421,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,1,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1,computers_technology
102422,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,1,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,1,fashion
102423,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,1,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,1,computers_technology
102424,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,1,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,1,home_kitchen

In [27]:
order_summary = prep_order_items.groupby('order_id').agg(
    seller_id=('seller_id', 'first'),
    total_item_value=('price', 'sum'),
    total_freight_value=('freight_value', 'sum'),
    total_items=('product_id', 'count')  # counts number of items
).reset_index()

# Add total order value
order_summary['total_order_value'] = order_summary['total_item_value'] + order_summary['total_freight_value']

In [28]:
order_summary

,order_id,seller_id,total_item_value,total_freight_value,total_items,total_order_value
0,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,58.90,13.29,1,72.19
1,00018f77f2f0320c557190d7a144bdd3,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,1,259.83
2,000229ec398224ef6ca0657da4fc703e,5b51032eddd242adc84c38acab88f23d,199.00,17.87,1,216.87
3,00024acbcdf0a6daa1e931b038114c75,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,1,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,df560393f3a51e74553ab94004ba5c87,199.90,18.14,1,218.04
...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,1,343.40
98662,fffcd46ef2263f404302a634eb57f7eb,f3c38ab652836d21de61fb8314b69182,350.00,36.53,1,386.53
98663,fffce4705a9662cd70adb13d4a31832d,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,1,116.85
98664,fffe18544ffabc95dfada21779c9644f,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,1,64.71
98665,fffe41c64501cc87c801fd61db3f6244,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,1,55.79

In [30]:
# Reorder columns
order_summary = order_summary[
    ['order_id', 'seller_id', 'total_order_value', 'total_item_value', 'total_freight_value', 'total_items']
]

In [31]:
order_summary

,order_id,seller_id,total_order_value,total_item_value,total_freight_value,total_items
0,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,72.19,58.90,13.29,1
1,00018f77f2f0320c557190d7a144bdd3,dd7ddc04e1b6c2c614352b383efe2d36,259.83,239.90,19.93,1
2,000229ec398224ef6ca0657da4fc703e,5b51032eddd242adc84c38acab88f23d,216.87,199.00,17.87,1
3,00024acbcdf0a6daa1e931b038114c75,9d7a1d34a5052409006425275ba1c2b4,25.78,12.99,12.79,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,df560393f3a51e74553ab94004ba5c87,218.04,199.90,18.14,1
...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,b8bc237ba3788b23da09c0f1f3a3288c,343.40,299.99,43.41,1
98662,fffcd46ef2263f404302a634eb57f7eb,f3c38ab652836d21de61fb8314b69182,386.53,350.00,36.53,1
98663,fffce4705a9662cd70adb13d4a31832d,c3cfdc648177fdbbbb35635a37472c53,116.85,99.90,16.95,1
98664,fffe18544ffabc95dfada21779c9644f,2b3e4a2a3ea8e01938cabda2a3e5cc79,64.71,55.99,8.72,1
98665,fffe41c64501cc87c801fd61db3f6244,f7ccf836d21b2fb1de37564105216cc1,55.79,43.00,12.79,1

In [35]:
order_summary.value_counts()

order_id                          seller_id                         total_order_value  total_item_value  total_freight_value  total_items
00010242fe8c5a6d1ba2dd792cb16214  48436dade18ac8b2bce089ec2a041202  72.19              58.90             13.29                1              1
ab13cb6c13063f2603a94c9ddca34f66  cf8ab1616079e2793aa29d524df01bb1  1724.04            1599.00           125.04               1              1
ab3a669dbdc7a8d447bb6fc7a158cf94  c33847515fa6305ce6feb1e818569f13  43.17              24.90             18.27                1              1
ab3a6663f21c1a36401300460d3c41cd  850f4f8af5ea87287ac68de36e29107f  563.17             539.00            24.17                1              1
ab3a0535e202529923e53dfdadf8042e  2a84855fd20af891be03bc5924d2b453  47.52              35.90             11.62                1              1
                                                                                                                                            ..
5561adcb0fd46da4cad3048fa4e7fc00  131fcb0a0c9a47bba4474aacff0f14b7  109.35             99.90             9.45                 1              1
555e60e282181725debc9eb2d69fda3f  f262cbc1c910c83959f849465454ddd3  19.38              11.99             7.39                 1              1
555e4d40fb6beea866d46eb6a5a01b41  850f4f8af5ea87287ac68de36e29107f  111.92             89.89             22.03                2              1
555e1afa0cf180760b7ea9f6d8ebc329  77530e9772f57a62c906e1c21538ab82  137.41             119.00            18.41                1              1
fffe41c64501cc87c801fd61db3f6244  f7ccf836d21b2fb1de37564105216cc1  55.79              43.00             12.79                1              1
Name: count, Length: 98666, dtype: int64

In [41]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
order_summary.to_sql(name = 'mart_customer_transactions_with_total_items', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

666

In [43]:
order_summary.to_csv('mart_customer_transactions_with_total_items.csv', index=False)