In [1]:
import pandas as pd

prep_orders=pd.read_csv('./data/brazilian_e-commerce/prep_orders.csv')

prep_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25

In [2]:
prep_orders.tail()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
99436,392ed9afd714e3c74767d0c4d3e3f477,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,NaN,NaN,NaN,2018-10-15
99437,616fa7d4871b87832197b2a137a115d2,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,NaN,NaN,NaN,2018-10-23
99438,a2ac6dad85cf8af5b0afb510a240fe8c,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,NaN,NaN,NaN,2018-10-16
99439,b059ee4de278302d550a3035c4cdb740,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,NaN,NaN,NaN,2018-11-12
99440,10a045cdf6a5650c21e9cfeb60384c16,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,NaN,NaN,NaN,2018-10-30

In [3]:
prep_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [4]:
prep_customers=pd.read_csv('./data/brazilian_e-commerce/prep_customers.csv', dtype={'customer_zip_code_prefix': str})

prep_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo

In [5]:
prep_customers.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
99436,235702411e5214f0e4a0761bf5ce9e99,9fc089b0b6a8db40d4357e784f1e91d4,99965,agua santa,RS,agua santa
99437,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,ciriaco
99438,657ba09c6edfbbc09f6054f541ec1f90,3dbb390afed2043063d358900ae05d0d,99980,david canabarro,RS,david canabarro
99439,964b34423c822e9bd9831635ccc83db2,e49eafd7e69d43b8d86f6b5590fafd02,99980,david canabarro,RS,david canabarro
99440,f04c3f6e20a2a4318d97d7cec1d27bbf,8f846b30f8f56368cd1bf4c89efeed74,99990,muliterno,RS,muliterno

In [6]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
 5   customer_city_clean       99441 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB

In [7]:
prep_customers['customer_zip_code_prefix'] = (
    prep_customers['customer_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)

In [8]:
prep_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
 5   customer_city_clean       99441 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB

In [9]:
prep_orders_customers = pd.merge(
    prep_orders,
    prep_customers,
    how="left",
    on="customer_id"
)
prep_orders_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,boa vista
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,RS,passo fundo
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,SP,sao jose dos campos
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,sao joaquim da barra
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,SP,sao paulo

In [10]:
prep_geolocation=pd.read_csv('./data/brazilian_e-commerce/prep_geolocation.csv', dtype={'geolocation_zip_code_prefix': str})

prep_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_city_clean,geolocation_state
0,01001,-23.550190,-46.634024,sao paulo,sao paulo,SP
1,01002,-23.548146,-46.634979,sao paulo,sao paulo,SP
2,01003,-23.548994,-46.635731,sao paulo,sao paulo,SP
3,01004,-23.549799,-46.634757,sao paulo,sao paulo,SP
4,01005,-23.549456,-46.636733,sao paulo,sao paulo,SP

In [11]:
prep_geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_city_clean,geolocation_state
19010,99960,-27.953722,-52.025511,charrua,charrua,RS
19011,99965,-28.183372,-52.039850,agua santa,agua santa,RS
19012,99970,-28.343766,-51.874689,ciriaco,ciriaco,RS
19013,99980,-28.389129,-51.843836,david canabarro,david canabarro,RS
19014,99990,-28.329595,-51.769362,muliterno,muliterno,RS

In [12]:
prep_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  object
 1   geolocation_lat              19015 non-null  float64
 2   geolocation_lng              19015 non-null  float64
 3   geolocation_city             19015 non-null  object
 4   geolocation_city_clean       19015 non-null  object
 5   geolocation_state            19015 non-null  object
dtypes: float64(2), object(4)
memory usage: 891.5+ KB

In [13]:
# Merge customers + geolocation on ZIP prefix
prep_orders_customers_geolocation = pd.merge(
    prep_orders_customers,
    prep_geolocation,  # cleaned geolocation table
    how="left",
    left_on="customer_zip_code_prefix",
    right_on="geolocation_zip_code_prefix"
)
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_city_clean,geolocation_state
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,boa vista,69309,2.813746,-60.701007,boa vista,boa vista,RR
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,RS,passo fundo,99025,-28.264640,-52.425421,passo fundo,passo fundo,RS
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,SP,sao jose dos campos,12244,-23.198979,-45.943171,sao jose dos campos,sao jose dos campos,SP
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,sao joaquim da barra,14600,-20.585751,-47.863693,sao joaquim da barra,sao joaquim da barra,SP
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,sao paulo,SP,sao paulo,02975,-23.478131,-46.711362,sao paulo,sao paulo,SP

In [14]:
prep_orders_customers_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  object
 10  customer_city                  99441 non-null  object
 11  customer_state                 99441 non-null  object
 12  customer_city_clean            99441 non-null  object
 13  geolocation_zip_code_prefix    99163 non-null  object
 14  geolocation_lat                99163 non-null  float64
 15  geolocation_lng                99163 non-null  float64
 16  geolocation_city               99163 non-null  object
 17  geolocation_city_clean         99163 non-null  object
 18  geolocation_state              99163 non-null  object
dtypes: float64(2), object(17)
memory usage: 14.4+ MB

In [15]:
prep_orders_customers_geolocation = prep_orders_customers_geolocation.drop (columns = [
    'customer_city', 
    'geolocation_zip_code_prefix',
    'geolocation_city',
    'geolocation_city_clean',
    'geolocation_state'
    ])
prep_orders_customers_geolocation.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_state,customer_city_clean,geolocation_lat,geolocation_lng
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,RR,boa vista,2.813746,-60.701007
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,RS,passo fundo,-28.264640,-52.425421
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,SP,sao jose dos campos,-23.198979,-45.943171
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,SP,sao joaquim da barra,-20.585751,-47.863693
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,SP,sao paulo,-23.478131,-46.711362

In [16]:
prep_gdp=pd.read_csv('./data/brazilian_e-commerce/prep_gdp.csv')

prep_gdp.head()

,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,SP,So Paulo,47008.77,45919049,41746,909.121615,1023.731339,Southeast
1,RJ,Rio de Janeiro,40155.76,17264943,12852,744.398635,2325.855447,Southeast
2,DF,Distrito Federal,80502.47,3015268,2140,709.721325,26698.279805,Center-West
3,MG,Minas Gerais,27282.75,21168791,11635,549.629877,1288.819470,Southeast
4,SC,Santa Catarina,39592.28,7164788,3637,507.621440,5525.952931,South

In [17]:
prep_gdp.tail()

,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
22,MA,Maranho,12788.75,7075181,747,105.580338,1807.550930,Northeast
23,AC,Acre,17201.95,881935,81,91.843503,19504.781213,North
24,AP,Amap,19405.11,845731,68,80.403816,22944.777210,North
25,RR,Roraima,23158.06,605761,46,75.937540,38229.698754,North
26,AM,Amazonas,22936.28,4144597,148,35.709141,5534.019181,North

In [18]:
prep_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   state_code             27 non-null     object
 1   state_name             27 non-null     object
 2   GDP                    27 non-null     float64
 3   Population             27 non-null     int64
 4   total_customers        27 non-null     int64
 5   customers_per_million  27 non-null     float64
 6   gdp_per_capita         27 non-null     float64
 7   region                 27 non-null     object
dtypes: float64(3), int64(2), object(3)
memory usage: 1.8+ KB

In [19]:
prep_orders_customers_geolocation_gdp = pd.merge(
    prep_orders_customers_geolocation,
    prep_gdp,  # cleaned geolocation table
    how="left",
    left_on="customer_state",
    right_on="state_code"
)
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,geolocation_lat,geolocation_lng,state_code,state_name,GDP,Population,total_customers,customers_per_million,gdp_per_capita,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,...,2.813746,-60.701007,RR,Roraima,23158.06,605761,46,75.937540,38229.698754,North
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,...,-28.264640,-52.425421,RS,Rio Grande do Sul,37371.27,11377239,5466,480.432906,3284.739780,South
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,...,-23.198979,-45.943171,SP,So Paulo,47008.77,45919049,41746,909.121615,1023.731339,Southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,...,-20.585751,-47.863693,SP,So Paulo,47008.77,45919049,41746,909.121615,1023.731339,Southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,...,-23.478131,-46.711362,SP,So Paulo,47008.77,45919049,41746,909.121615,1023.731339,Southeast

In [20]:
prep_orders_customers_geolocation_gdp.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_state',
       'customer_city_clean', 'geolocation_lat', 'geolocation_lng',
       'state_code', 'state_name', 'GDP', 'Population', 'total_customers',
       'customers_per_million', 'gdp_per_capita', 'region'],
      dtype='object')

In [21]:
prep_orders_customers_geolocation_gdp = prep_orders_customers_geolocation_gdp.drop (columns = [
    'state_code', 
    'total_customers',
    'customers_per_million',
    'gdp_per_capita',
    ])
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_state,customer_city_clean,geolocation_lat,geolocation_lng,state_name,GDP,Population,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,RR,boa vista,2.813746,-60.701007,Roraima,23158.06,605761,North
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,RS,passo fundo,-28.264640,-52.425421,Rio Grande do Sul,37371.27,11377239,South
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,SP,sao jose dos campos,-23.198979,-45.943171,So Paulo,47008.77,45919049,Southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,SP,sao joaquim da barra,-20.585751,-47.863693,So Paulo,47008.77,45919049,Southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,SP,sao paulo,-23.478131,-46.711362,So Paulo,47008.77,45919049,Southeast

In [22]:
# Convert all column names to lowercase
prep_orders_customers_geolocation_gdp.columns = prep_orders_customers_geolocation_gdp.columns.str.lower()

# Verify
print(prep_orders_customers_geolocation_gdp.columns)

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_state',
       'customer_city_clean', 'geolocation_lat', 'geolocation_lng',
       'state_name', 'gdp', 'population', 'region'],
      dtype='object')

In [23]:
prep_orders_customers_geolocation_gdp.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_state,customer_city_clean,geolocation_lat,geolocation_lng,state_name,gdp,population,region
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20,b7d76e111c89f7ebf14761390f0f7d17,69309,RR,boa vista,2.813746,-60.701007,Roraima,23158.06,605761,North
1,e5fa5a7210941f7d56d0208e4e071d35,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28,4854e9b3feff728c13ee5fc7d1547e92,99025,RS,passo fundo,-28.264640,-52.425421,Rio Grande do Sul,37371.27,11377239,South
2,809a282bbd5dbcabb6f2f724fca862ec,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30,009b0127b727ab0ba422f6d9604487c7,12244,SP,sao jose dos campos,-23.198979,-45.943171,So Paulo,47008.77,45919049,Southeast
3,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04,830d5b7aaa3b6f1e9ad63703bec97d23,14600,SP,sao joaquim da barra,-20.585751,-47.863693,So Paulo,47008.77,45919049,Southeast
4,71303d7e93b399f5bcd537d124c0bcfa,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25,0eb1ee9dba87f5b36b4613a65074337c,02975,SP,sao paulo,-23.478131,-46.711362,So Paulo,47008.77,45919049,Southeast

In [24]:
prep_orders_customers_geolocation_gdp.to_csv('prep_orders_customers_geolocation_gdp.csv', index=False)

In [25]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [26]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [27]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
prep_orders_customers_geolocation_gdp.to_sql(name = 'prep_orders_customers_geolocation_gdp', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

441