In [1]:
import pandas as pd

df_customers=pd.read_csv('./data/brazilian_e-commerce/olist_customers_dataset.csv')

In [2]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
df_customers.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [4]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [6]:
df_customers.duplicated().sum()

np.int64(0)

In [7]:
df_customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [8]:
df_customers['customer_zip_code_prefix'] = (
    df_customers['customer_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
df_customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix    object
customer_city               object
customer_state              object
dtype: object

In [10]:
df_customers['customer_id'].nunique()

99441

In [11]:
df_customers['customer_unique_id'].nunique()

96096

In [12]:
df_customers['customer_zip_code_prefix'].nunique()

14994

In [13]:
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [14]:
import unicodedata

def has_accent(s):
    return any(unicodedata.category(c) == 'Mn' for c in unicodedata.normalize('NFD', s))

df_customers['has_accent'] = df_customers['customer_city'].apply(has_accent)

df_customers['has_accent'].value_counts()

has_accent
False    99441
Name: count, dtype: int64

In [15]:
df_customers['customer_city'].nunique()

4119

In [16]:
df_customers['customer_city'].sort_values(ascending=True).head(50)

44027    abadia dos dourados
74529    abadia dos dourados
19445    abadia dos dourados
42307              abadiania
5205                  abaete
11734                 abaete
49712                 abaete
61140                 abaete
61789                 abaete
41957                 abaete
77482                 abaete
52849                 abaete
82676                 abaete
24154                 abaete
47918                 abaete
53051                 abaete
44867             abaetetuba
11200             abaetetuba
68477             abaetetuba
93641             abaetetuba
20681             abaetetuba
54733             abaetetuba
95795             abaetetuba
1672              abaetetuba
21577             abaetetuba
2630              abaetetuba
75965             abaetetuba
69825                abaiara
20202                abaiara
80007                 abaira
75344                 abaira
82065                  abare
92526                  abare
15591                 abatia
9934                  abatia
29297                 abatia
11073          abdon batista
36990           abelardo luz
43207           abelardo luz
76579           abelardo luz
95037           abelardo luz
85540           abelardo luz
30693           abelardo luz
29713               abrantes
55695               abrantes
72852             abre campo
29304             abre campo
45604             abre campo
23947             abre campo
85158             abre campo
Name: customer_city, dtype: object

In [17]:
df_customers['customer_city_clean'] = (
    df_customers['customer_city']
    .str.lower()
    .str.strip()
)
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,has_accent,customer_city_clean
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,False,franca
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,False,sao bernardo do campo
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,False,sao paulo
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,False,mogi das cruzes
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,False,campinas
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,False,sao paulo
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,False,taboao da serra
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,False,fortaleza
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,False,canoas
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,False,cotia

In [18]:
df_customers['customer_city_clean'] = df_customers['customer_city_clean'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df_customers['customer_city_clean'] = df_customers['customer_city_clean'].str.replace(r'\s+', ' ', regex=True)
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,has_accent,customer_city_clean
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,False,franca
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,False,sao bernardo do campo
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,False,sao paulo
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,False,mogi das cruzes
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,False,campinas
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,False,sao paulo
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,False,taboao da serra
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,False,fortaleza
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,False,canoas
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,False,cotia

In [19]:
df_customers = df_customers.drop(columns=['has_accent'])
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,franca
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,sao bernardo do campo
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,sao paulo
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,mogi das cruzes
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,campinas
...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,sao paulo
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,taboao da serra
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fortaleza
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,canoas
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,cotia

In [20]:
df_customers = df_customers.sort_values(by='customer_zip_code_prefix', ascending=True)
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean
23914,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo
11747,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo
23990,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo
81634,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo
34298,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo
...,...,...,...,...,...,...
17275,f93bb6c70a7306d18a24f77f1889916d,ee0a41f3ec008b1459efbd99c775e6ea,99965,agua santa,RS,agua santa
41113,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,ciriaco
956,964b34423c822e9bd9831635ccc83db2,e49eafd7e69d43b8d86f6b5590fafd02,99980,david canabarro,RS,david canabarro
96592,657ba09c6edfbbc09f6054f541ec1f90,3dbb390afed2043063d358900ae05d0d,99980,david canabarro,RS,david canabarro
25752,f04c3f6e20a2a4318d97d7cec1d27bbf,8f846b30f8f56368cd1bf4c89efeed74,99990,muliterno,RS,muliterno

In [21]:
df_states=pd.read_csv('./data/brazilian_e-commerce/states.csv')
df_states.head()

,UF,State,Capital,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
0,AC,Acre,Rio Branco,North,164123.730,881935,5.37,22,17201.95,0.5,0.189,-8.77,-70.55
1,AL,Alagoas,Maceió,Northeast,27843.295,3337357,119.86,102,15653.51,0.5,0.205,-9.62,-36.82
2,AM,Amazonas,Manaus,North,1559168.100,4144597,2.66,62,22936.28,0.7,0.193,-3.47,-65.10
3,AP,Amapá,Macapá,North,142470.770,845731,5.94,16,19405.11,0.6,0.128,1.41,-51.77
4,BA,Bahia,Salvador,Northeast,564722.600,14873064,26.34,417,17508.67,0.6,0.177,-13.29,-41.71

In [22]:
df_customers_states = pd.merge(
    df_customers,
    df_states,
    how="left",
    left_on="customer_state",
    right_on="UF"
)
df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean,UF,State,Capital,Region,Area,Population,Demographic Density,Cities count,GDP,GDP rate,Poverty,Latitude,Longitude
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo,SP,São Paulo,São Paulo,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo,SP,São Paulo,São Paulo,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo,SP,São Paulo,São Paulo,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo,SP,São Paulo,São Paulo,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo,SP,São Paulo,São Paulo,Southeast,248219.48,45919049,184.99,645,47008.77,1.5,0.027,-22.19,-48.79

In [23]:
df_customers_states = df_customers_states.drop (columns = [
    'UF', 
    'Area',
    'Population',
    'Demographic Density',
    'Cities count',
    'GDP',
    'GDP rate',
    'Poverty',
    'Latitude',
    'Longitude'
    ])
df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean,State,Capital,Region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast

In [24]:
df_customers_states.columns= df_customers_states.columns.str.lower()
df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_city_clean,state,capital,region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast

In [25]:
df_customers_states = df_customers_states.rename(columns={
    'customer_city' : 'customer_city_old',
    'customer_state': 'customer_state_code',
    'state': 'customer_state',
    'capital': 'customer_capital',
    'region': 'customer_region'
})
df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_state_code,customer_city_clean,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,SP,sao paulo,São Paulo,São Paulo,Southeast

In [26]:
df_customers_states.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_state_code,customer_city_clean,customer_state,customer_capital,customer_region
99436,f93bb6c70a7306d18a24f77f1889916d,ee0a41f3ec008b1459efbd99c775e6ea,99965,agua santa,RS,agua santa,Rio Grande do Sul,Porto Alegre,South
99437,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,ciriaco,Rio Grande do Sul,Porto Alegre,South
99438,964b34423c822e9bd9831635ccc83db2,e49eafd7e69d43b8d86f6b5590fafd02,99980,david canabarro,RS,david canabarro,Rio Grande do Sul,Porto Alegre,South
99439,657ba09c6edfbbc09f6054f541ec1f90,3dbb390afed2043063d358900ae05d0d,99980,david canabarro,RS,david canabarro,Rio Grande do Sul,Porto Alegre,South
99440,f04c3f6e20a2a4318d97d7cec1d27bbf,8f846b30f8f56368cd1bf4c89efeed74,99990,muliterno,RS,muliterno,Rio Grande do Sul,Porto Alegre,South

In [27]:
new_order = [
     'customer_id',
     'customer_unique_id',
     'customer_zip_code_prefix',
     'customer_city_old',
     'customer_city_clean',
     'customer_state_code',
     'customer_state',
     'customer_capital',
     'customer_region'
 ]

df_customers_states = df_customers_states[new_order]

df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,SP,São Paulo,São Paulo,Southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,SP,São Paulo,São Paulo,Southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,SP,São Paulo,São Paulo,Southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,SP,São Paulo,São Paulo,Southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,SP,São Paulo,São Paulo,Southeast

In [28]:
df_customers_states = df_customers_states.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df_customers_states.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city_old,customer_city_clean,customer_state_code,customer_state,customer_capital,customer_region
0,7ae2a9337aa4bc799723511faa1d6830,0c1a20644f0dc126c3eaff8dbc1bd12c,01003,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
1,a09edf8c1e842e94805a206b3d73eed5,968f6d2f674977d88a4b445a5117ccd8,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
2,ee9b73e88afb4904ee2322cfc89cf638,095e7c124c5c1ccb1eb9f731152eae6a,01004,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
3,15d7dbcd027b5b24866db33e2b819021,ddab5650ba76e2fa2d7e25ed3343bd92,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast
4,f3e31afdae80581be48ce94e7b0f3366,ded4351942c7fc292b88e5b090af2b46,01005,sao paulo,sao paulo,sp,são paulo,são paulo,southeast

In [29]:
df_customers_states.to_csv('prep_customers.csv', index=False)

In [30]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [31]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [32]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
df_customers_states.to_sql(name = 'prep_customers', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )

441