In [1]:
import pandas as pd

df_geolocation=pd.read_csv('./data/brazilian_e-commerce/olist_geolocation_dataset.csv')

In [2]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [3]:
df_geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [4]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [5]:
df_geolocation['geolocation_zip_code_prefix'] = (
    df_geolocation['geolocation_zip_code_prefix']
    .astype(str)
    .str.zfill(5)
)
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP

In [6]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  object
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), object(3)
memory usage: 38.2+ MB

In [7]:
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [8]:
df_geolocation.duplicated().sum()

np.int64(261831)

In [9]:
# Shows all rows that are duplicates of a previous row
duplicates = df_geolocation[df_geolocation.duplicated()]
print(duplicates)

        geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
15                            01046       -23.546081       -46.644820
44                            01046       -23.546081       -46.644820
65                            01046       -23.546081       -46.644820
66                            01009       -23.546935       -46.636588
67                            01046       -23.546081       -46.644820
...                             ...              ...              ...
1000153                       99970       -28.343273       -51.873734
1000154                       99950       -28.070493       -52.011342
1000159                       99900       -27.877125       -52.224882
1000160                       99950       -28.071855       -52.014716
1000162                       99950       -28.070104       -52.018658

        geolocation_city geolocation_state
15             sao paulo                SP
44             sao paulo                SP
65             sao paulo                SP
66             sao paulo                SP
67             sao paulo                SP
...                  ...               ...
1000153          ciriaco                RS
1000154         tapejara                RS
1000159   getulio vargas                RS
1000160         tapejara                RS
1000162         tapejara                RS

[261831 rows x 5 columns]

In [10]:
df_geolocation['geolocation_state'].nunique()

27

In [11]:
df_geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [ ]:
df_sorted = df_geolocation.sort_values(
    by=['geolocation_state', 'geolocation_city', 'geolocation_zip_code_prefix'],
    ascending=[True, True, True]
).reset_index(drop=True)

df_sorted

In [ ]:
df_geolocation['geolocation_city'].nunique()

In [ ]:
df_geolocation['geolocation_city'].unique()

In [ ]:
# Check all unique city names per state
cities_per_state = df_geolocation.groupby('geolocation_state')['geolocation_city'].unique()
for state, cities in cities_per_state.items():
    print(state, cities[:10])  # print first 10 cities for brevity

In [ ]:
import unicodedata

def has_accent(text):
    if not isinstance(text, str):
        return False
    return any(
        unicodedata.category(c) == "Mn"
        for c in unicodedata.normalize("NFD", text)
    )

# Apply to geolocation_city
df_geolocation['has_accent'] = df_geolocation['geolocation_city'].apply(has_accent)

# Count how many cities have accents
df_geolocation['has_accent'].value_counts()

In [ ]:
import unicodedata

def remove_accents(text):
    if isinstance(text, str):
        return ''.join(
            c for c in unicodedata.normalize('NFD', text)
            if unicodedata.category(c) != 'Mn'
        )
    return text

df_geolocation['geolocation_city_noaccent'] = df_geolocation['geolocation_city'].apply(remove_accents)
df_geolocation

In [ ]:
df_geolocation['geolocation_city_clean'] = (
    df_geolocation['geolocation_city_noaccent']
        .str.lower()
        .str.strip()
)
df_geolocation

In [ ]:
df_geolocation['geolocation_city_clean'] = df_geolocation['geolocation_city_clean'].str.replace(r'\s+', ' ', regex=True)
df_geolocation

In [ ]:
from rapidfuzz import process

reference_cities = df_geolocation['geolocation_city_clean'].unique()

def correct_city(city):
    match = process.extractOne(city, reference_cities)
    return match[0] if match[1] >= 85 else city
df_geolocation

In [ ]:
# Most frequent city/state per ZIP prefix
city_state_mode = (
    df_geolocation
    .groupby('geolocation_zip_code_prefix')
    .agg({
        'geolocation_city': lambda x: x.value_counts().idxmax(),       # original name
        'geolocation_city_clean': lambda x: x.value_counts().idxmax(), # cleaned name
        'geolocation_state': lambda x: x.value_counts().idxmax()
    })
)

In [ ]:
coords_mean = (
    df_geolocation
    .groupby('geolocation_zip_code_prefix')
    .agg({
        'geolocation_lat': 'mean',
        'geolocation_lng': 'mean'
    })
)

In [ ]:
df_geolocation = coords_mean.merge(
    city_state_mode,
    left_index=True,
    right_index=True
).reset_index()

In [ ]:
df_geolocation

In [ ]:
df_customers=pd.read_csv('./data/brazilian_e-commerce/prep_customers.csv')
df_customers.head()

In [ ]:
# Count frequency
city_counts = df_geolocation['geolocation_city_clean'].value_counts()

# See rare cities (likely typos)
rare_cities = city_counts[city_counts == 1]
print(rare_cities.head(20))

In [ ]:
from rapidfuzz import process

# Reference city list from customers
reference_cities = df_customers['customer_city_clean'].unique()

# Function to correct customer city
def correct_geolocation_city(city):
    match = process.extractOne(city, reference_cities)
    return match[0] if match[1] >= 85 else city

# Apply to geolocation table
df_geolocation['geolocation_city_clean'] = df_geolocation['geolocation_city_clean'].apply(correct_geolocation_city)
df_geolocation.head()

In [ ]:
df_geolocation['geolocation_zip_code_prefix'].nunique()

In [ ]:
df_geolocation['geolocation_city_clean'].value_counts().head(20)

In [ ]:
df_geolocation[df_geolocation.duplicated(['geolocation_zip_code_prefix'], keep=False)]

In [ ]:
df_states=pd.read_csv('./data/brazilian_e-commerce/states.csv')
df_states.head()

In [ ]:
df_geolocation_states = pd.merge(
    df_geolocation,
    df_states,
    how="left",
    left_on="geolocation_state",
    right_on="UF"
)
df_geolocation_states.head()

In [ ]:
df_geolocation_states = df_geolocation_states.drop (columns = [
    'UF', 
    'Area',
    'Population',
    'Demographic Density',
    'Cities count',
    'GDP',
    'GDP rate',
    'Poverty',
    'Latitude',
    'Longitude'
    ])
df_geolocation_states.head()

In [ ]:
df_geolocation_states.columns= df_geolocation_states.columns.str.lower()
df_geolocation_states.head()

In [ ]:
df_geolocation_states = df_geolocation_states.rename(columns={
    'geolocation_city' : 'geolocation_city_old',
    'geolocation_state': 'geolocation_state_code',
    'state': 'geolocation_state',
    'capital': 'geolocation_capital',
    'region': 'geolocation_region'
})
df_geolocation_states.head()

In [ ]:
df_geolocation_states.tail()

In [ ]:
new_order = [
     'geolocation_zip_code_prefix',
     'geolocation_lat',
     'geolocation_lng',
     'geolocation_city_old',
     'geolocation_city_clean',
     'geolocation_state_code',
     'geolocation_state',
     'geolocation_capital',
     'geolocation_region'
 ]
df_geolocation_states = df_geolocation_states[new_order]

df_geolocation_states.head()

In [ ]:
df_geolocation_states = df_geolocation_states.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df_geolocation_states.head()

In [ ]:
df_geolocation_states.to_csv('prep_geolocation.csv', index=False)

In [ ]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [ ]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [ ]:
# updating the url
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}' #the same like version 1

# let's switch the logging off again. .
engine = create_engine(url, echo=False) #the same like version 1


# writing dataframe to DB : Pandas Dataframe to DB Table in my own Schema
df_geolocation_states.to_sql(name = 'prep_geolocation', 
                       con = engine, 
                       schema = pg_schema, # pandas is allowing to specify, in which schema the table shall be created
                       if_exists='replace', 
                       index=False
                      )