In [2]:
import pandas as pd

df_order_items=pd.read_csv('../../data/brazilian_e-commerce/olist_order_items_dataset.csv')

In [14]:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [16]:
df_order_items.tail()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [17]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [18]:
df_order_items.shape

(112650, 7)

In [19]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [20]:
df_order_items.duplicated().sum()

np.int64(0)

In [21]:
df_order_items = df_order_items.sort_values(by='shipping_limit_date', ascending=True)
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
101394,e5fa5a7210941f7d56d0208e4e071d35,1,f3c2d01a84c947b078e32bbef0718962,a425f92c199eb576938df686728acd20,2016-09-19 00:15:34,59.50,15.56
84389,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83
84390,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83
84391,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,ecccfa2bb93b34a3bf033cc5d1dcdc69,2016-09-19 23:11:33,44.99,2.83
90368,cd3b8574c82b42fc8129f6d502690c3e,1,e2a1d45a73dc7f5a7f9236b043431b89,b499c00f28f4b7069ff6550af8c1348a,2016-10-08 10:34:01,29.99,10.96
...,...,...,...,...,...,...,...
26104,3b61aab5de69abc1731138bd104a777f,1,6aa063e063f2ab982b471e58afe06d72,610f72e407cdd7caaa2f8167b0163fd8,2018-09-18 21:10:15,999.99,24.77
68516,9c94a4ea2f7876660fa6f1b59b69c8e6,1,282b126b2354516c5f400154398f616d,7a241947449cc45dbfda4f9d0798d9d0,2020-02-03 20:23:22,75.99,14.70
8643,13bdf405f961a6deec817d817f5c6624,1,96ea060e41bdecc64e2de00b97068975,7a241947449cc45dbfda4f9d0798d9d0,2020-02-05 03:30:51,69.99,14.66
85730,c2bb89b5c1dd978d507284be78a04cb2,2,87b92e06b320e803d334ac23966c80b1,7a241947449cc45dbfda4f9d0798d9d0,2020-04-09 22:35:08,99.99,61.44
85729,c2bb89b5c1dd978d507284be78a04cb2,1,87b92e06b320e803d334ac23966c80b1,7a241947449cc45dbfda4f9d0798d9d0,2020-04-09 22:35:08,99.99,61.44

In [22]:
df_order_items['order_id'].nunique()

98666

In [23]:
df_order_items['seller_id'].nunique()

3095

In [32]:
orders_per_seller = (
    df_order_items
        .groupby('seller_id')['order_id']
        .nunique()        
        .reset_index(name='order_count')
)

print(orders_per_seller)

                             seller_id  order_count
0     0015a82c2db000af6aaaf3ae2ecb0532            3
1     001cca7ae9ae17fb1caed9dfb1094831          200
2     001e6ad469a905060d959994f1b41e4f            1
3     002100f778ceb8431b7a1020ff7ab48f           51
4     003554e2dce176b5555353e4f3555ac8            1
...                                ...          ...
3090  ffcfefa19b08742c5d315f2791395ee5            1
3091  ffdd9f82b9a447f6f8d4b91554cc7dd3           18
3092  ffeee66ac5d5a62fe688b9d26f83f534           14
3093  fffd5413c0700ac820c7069d66d98c89           60
3094  ffff564a4f9085cd26170f4732393726           20

[3095 rows x 2 columns]

In [28]:
orders_per_seller = orders_per_seller.sort_values(
    by='order_count',
    ascending=False
).reset_index(drop=True)
orders_per_seller

                             seller_id  order_count
0     6560211a19b47992c3666cc44a7e94c0         1854
1     4a3ca9315b744ce9f8e9374361493884         1806
2     cc419e0650a3c5ba77189a1882b7556a         1706
3     1f50f920176fa81dab994f9023523100         1404
4     da8622b14eb17ae2831f4ac5b9dab84a         1314
...                                ...          ...
3090  ceb7b4fb9401cd378de7886317ad1b47            1
3091  cecd97bc34ed8330bd4cd15713eda670            1
3092  5b92bfa4120daa27c574daa2e386c693            1
3093  5aaa890629f83706d8d9bfecd8377c1c            1
3094  7d81e74a4755b552267cd5e081563028            1

[3095 rows x 2 columns]

In [29]:
# Total number of sellers
total_sellers = len(orders_per_seller)

# Number of sellers with only one order
one_order_sellers = (orders_per_seller['order_count'] == 1).sum()

# Percentage
percentage_one_order = (one_order_sellers / total_sellers) * 100

print(f"{percentage_one_order:.2f}% of sellers have only one order")

18.45% of sellers have only one order

In [33]:
products_per_seller = (
    df_order_items
        .groupby('seller_id')['product_id']
        .nunique()   
        .reset_index(name='product_count')
)
products_per_seller

                             seller_id  product_count
0     0015a82c2db000af6aaaf3ae2ecb0532              1
1     001cca7ae9ae17fb1caed9dfb1094831             11
2     001e6ad469a905060d959994f1b41e4f              1
3     002100f778ceb8431b7a1020ff7ab48f             24
4     003554e2dce176b5555353e4f3555ac8              1
...                                ...            ...
3090  ffcfefa19b08742c5d315f2791395ee5              1
3091  ffdd9f82b9a447f6f8d4b91554cc7dd3             12
3092  ffeee66ac5d5a62fe688b9d26f83f534              3
3093  fffd5413c0700ac820c7069d66d98c89             29
3094  ffff564a4f9085cd26170f4732393726             15

[3095 rows x 2 columns]

In [34]:
products_per_seller = products_per_seller.sort_values(
    by='product_count',
    ascending=False
).reset_index(drop=True)
products_per_seller

                             seller_id  product_count
0     4a3ca9315b744ce9f8e9374361493884            399
1     cca3071e3e9bb7d12640c9fbe2301306            322
2     d91fb3b7d041e83b64a00a3edfb37e4f            315
3     fa1c13f2614d7b5c4749cbc52fecda94            289
4     7142540dd4c91e2237acb7e911c4eba2            266
...                                ...            ...
3090  8b181ee5518df84f18f4e1a43fe07923              1
3091  8b11118053756a9a2932f447e11fc1b5              1
3092  8a1ff5c35f6595a73fef4c7b96e4908a              1
3093  89d9a386b0b6e5fc8403071b03f7206a              1
3094  7d81e74a4755b552267cd5e081563028              1

[3095 rows x 2 columns]

In [36]:
# Total number of sellers
total_sellers = len(orders_per_seller)

# Number of sellers with only one order
one_product_sellers = (products_per_seller['product_count'] == 1).sum()

# Percentage
percentage_one_product = (one_product_sellers / total_sellers) * 100

print(f"{percentage_one_product:.2f}% of sellers have only one product")

24.10% of sellers have only one product